<div class="card" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Pools de IPs</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Configuración de Direcciones IP>Pools de IPs</small>
        </header>
        <div class="tools">
            <div class="btn-group">
                <button ui-sref="home.configuracionip.nuevopools" type="button" class="btn pull-right btn-raised btn-success btn-sm" permission
                    permission-only="'terminalesAdd'" ui-sref="home.configuracionip.nuevopools"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <table st-table="$ctrl.displayedCollection" st-safe-src="$ctrl.rowCollection" class="table table-striped" st-filtered-collection="$ctrl.filteredCollection">
                        <thead>
                            <tr>
                                <th st-sort="Beam">Beam </th>
                                <th st-sort="Servicio"> Servicio </th>
                                <th st-sort="IP">Red</th>
                                <th st-sort="IPv6">Red IPv6</th>
                                <th st-sort="MascaraRed4Terminal">Máscara Red v4 Terminales</th>
                                <th st-sort="MascaraRed4Terminal">Máscara Red v6 Terminales</th>
                            </tr>
                            <tr>
                                <th>
                                    <input st-search="Beam" placeholder="Beam" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="Servicio" placeholder="Servicio" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="IP" placeholder="Red" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="IPv6" placeholder="IPv6" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="MascaraRed4Terminal" placeholder="MascaraRed4Terminal" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="MascaraRed4Terminal" placeholder="MascaraRed4Terminal" class="input-sm form-control" type="search" />
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="row in $ctrl.displayedCollection|orderBy:sortKey:reverse|itemsPerPage:10">
                                <td>{{row.Beam}}</td>
                                <td>{{row.Servicio}}</td>
                                <td>{{row.IP + '/' + row.MascaraRed}}</td>
                                <td>{{row.IPv6 + '/' + row.IPv6PrefixLen}}</td>
                                <td>{{row.MascaraRed4Terminal}}</td>
                                <td>{{row.MascaraRed6Terminal}}</td>
                                <td>
                                    <a ui-sref="home.configuracionip.editapools({id:row.Clv_Pool})" permission permission-only="'usuariosUpdate'" class="btn  btn-xs btn-warning"
                                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Consultar Pool de IPs"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="18" class="text-left">
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                    </dir-pagination-controls>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>