<style type="text/css">
.myGrid {
    width: 500px;
    height: 250px;
  }


  th{font-size: 10pt;}
  td {font-size: 9.8pt;}

    .btn-csv {
    background-color: #fff;
    border-color: #008b45;
    font-size: 11.5px;
    color:#008b45; 
  }

  .btn-pdf {
    background-color: #fff;
    border-color: #8B0000;
    font-size: 11.5px;
    color:#8B0000;

  }

.btn-csv:hover
{
    background-color: #008b45;
    border-color: #fff;
    font-size: 11.5px;
    color:#fff;
}

.btn-pdf:hover
{
    background-color: #8B0000;
    border-color: #fff;
    font-size: 11.5px;
    color:#fff;

}
</style>

<div id="pdfreportimages" style="display:none" >
    <img crossorigin="" src="images/StarGoPng.png" id ="pdflogoimage">
</div>



<div class="card" style="margin-top:20px;padding-bottom: 30px">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Reportes</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reportes>Movimientos</small>
    </header>
        <div class="tools">

        </div>
  </div>
  <div class="section-body">
        <div class="col-md-12">
          <div class="panel-heading">
            <div class="tools">
                <div class="panel-group" id="suscriptor">
                                         
                      <div class="row">

                           <div class="col-md-3">
                              <div style="float:left" class="col-md-4">
                                <label for="fechaInicio">Fecha Inicio: </label>
                              </div>
                              <div class="input-group">
                                <input class="form-control" ng-model="$ctrl.fechaInicio" type="date" />   
                              </div>
                          </div>

                           <div class="col-md-3">
                              <div style="float:left" class="col-md-4">
                                <label for="fechaInicio">Fecha Fin: </label>
                              </div>
                              <div class="input-group">
                                <input class="form-control" ng-model="$ctrl.fechaFin" type="date" />
                              </div>
                          </div>

                          <div class="col-md-5">
                            <a class="btn btn-primary btn-sm" ng-click="$ctrl.getReporteMovimientos()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Buscar">
                            <i class="fa fa-search"></i> Buscar</a>
                            <a class="btn btn-info btn-sm" ng-click="$ctrl.limpiarFiltros();" data-toggle="tooltip" data-placement="top" title="" data-original-title="Limpiar filtros"> <i class="fa fa-eraser"></i>Limpiar </a>
                          </div>

                      </div>
                       <!--end .panel -->
                </div>
            </div>
          </div>



          <div class="panel form-element-padding" style="margin-top:-20px;">

              <table st-table="$ctrl.displayedCollection4" st-safe-src="$ctrl.rowCollection4" class="table table-striped" st-filtered-collection="$ctrl.filteredCollection">
                <thead>
                <tr>
                  <th st-sort="SAN">SAN </th>              
                  <th st-sort="Suscriptor">Suscriptor</th>
                  <th st-sort="Beam">Beam</th>
                  <th st-sort="SatellitedID">Satellite</th>
                  <th st-sort="Usuario">Usuario</th> 
                  <th st-sort="FechaMovim">Fecha <br/>Movimiento </th>
                  <th st-sort="ESN">ESN</th>
                  <th st-sort="Movimiento">Movimiento </th>  
                  <th st-sort="Mensaje">Mensaje </th>                 
                </tr>                
                <tr>
                  <th>
                    <input st-search="SAN" placeholder="SAN" class="input-sm form-control" type="search" />
                  </th>
                  <th>
                    <input st-search="Suscriptor" placeholder="Suscriptor" class="input-sm form-control" type="search" />
                  </th>
                   <th>
                    <input st-search="Beam" placeholder="Beam" class="input-sm form-control" type="search" />
                  </th>
                   <th>
                    <input st-search="SatellitedID" placeholder="Satellite" class="input-sm form-control" type="search" />
                  </th>
                  <th>
                    <input st-search="Usuario" placeholder="Usuario" class="input-sm form-control" type="search" />
                  </th> 
                  <th>
                    <input st-search="FechaMovim" placeholder="Fecha Movimiento" class="input-sm form-control" type="search"/>
                  </th>    
                 
                  <th>
                    <input st-search="ESN" placeholder="ESN" class="input-sm form-control" type="search" />
                  </th>  
                  <th>
                    <input st-search="Movimiento" placeholder="Movimiento" class="input-sm form-control" type="search" />
                  </th>      
                  <th>
                    <input st-search="Mensaje" placeholder="Mensaje" class="input-sm form-control" type="search" />
                  </th> 
                </tr>
                </thead>
                   <tbody>
                          <tr  dir-paginate="row in $ctrl.displayedCollection4|orderBy:sortKey:reverse|itemsPerPage:5">            
                          <td width="6%">{{row.SAN}}</td>
                          <td>{{row.Suscriptor}}</td>
                          <td>{{row.Beam}}</td>
                          <td>{{row.SatellitedID}}</td>
                          <td>{{row.Usuario}}</td>
                          <td>{{row.FechaMovim}}</td>                
                          <td>{{row.ESN}}</td>
                          <td>{{row.Movimiento}}</td>
                          <td width="30%" >{{row.Mensaje}}</td>                         
                        </tr>             
                  </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="18" class="text-left">
                              <dir-pagination-controls  max-size="5"
                                                      direction-links="true"
                                                      boundary-links="true">
                              </dir-pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
              </table>


            <div class="col-md-8  col-md-offset-2"  style="margin-bottom: 20px" align="center">
              <div class="col-sm-3"  >
                <button class="btn btn-csv btn-sm " ng-click="$ctrl.crearVisibleAsCsv()"  style="white-space: normal"></i> Exportar datos visibles como CSV </a> </button>
              </div>                
              <div class="col-sm-3">
                <button class="btn btn-csv btn-sm " ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal"> Exportar todo <br/> como CSV </button>
              </div>   
              <div class="col-sm-3">
                  <button class="btn btn-pdf btn-sm " ng-click="$ctrl.createPdfTodo('visible')"  style="white-space: normal">Exportar datos visibles como pdf</button>
              </div>         
              <div class="col-sm-3">
                <button class="btn btn-pdf btn-sm " ng-click="$ctrl.createPdfTodo('todo')"  style="white-space: normal">Exportar todo <br/> como pdf </button>
              </div>     
            </div>


                <button class="btn btn-default" id="csvUno" ng-hide="$ctrl.csvUnoHide" csv-column-order="$ctrl.order"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true"
                > esconder botón visible data as csv</button> <!--csv-column-order="$ctrl.order"  -->                

                <button class="btn btn-default" id="csvDos" ng-hide="$ctrl.csvDosHide" csv-column-order="$ctrl.order"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true"
                > esconder botón visible data as csv</button> <!--csv-column-order="$ctrl.order"  -->  
                


          </div>
        </div>
    </div>
</div>
