

<style type="text/css">
.myGrid {
    width: 500px;
    height: 250px;
  }

  th{font-size: 8.9pt;}
  td {font-size: 8.66pt;}
  td.media{font-size: 8.6pt;}
  td.little{font-size: 8.2pt;}

  .btn-csv {
    background-color: #fff;
    border-color: #008b45;
    font-size: 11.5px;
    color:#008b45; 
  }

  .btn-pdf {
    background-color: #fff;
    border-color: #8B0000;
    font-size: 11.5px;
    color:#8B0000;

  }

.btn-csv:hover
{
    background-color: #008b45;
    border-color: #fff;
    font-size: 11.5px;
    color:#fff;
}

.btn-pdf:hover
{
    background-color: #8B0000;
    border-color: #fff;
    font-size: 11.5px;
    color:#fff;
}

.conSinFap {
  color: #CC3399; /*amarillo*/
  font-size: 7.9pt
}

</style>

<div id="pdfreportimages" style="display:none" >
    <img crossorigin="" src="images/StarGoPng.png" id ="pdflogoimage">
</div>


<div class="card" style="margin-top:20px;padding-bottom: 30px">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Reportes</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reportes>General</small>
    </header>
        <div class="tools">

        </div>
  </div>
  <div class="section-body">
        <div class="col-md-12">
          <div class="panel-heading">
            <div class="tools">
                <div class="panel-group" id="suscriptor">
                                         
                      <div class="row">

                          <div class="col-md-5">
                            <a class="btn btn-info btn-sm" ng-click="$ctrl.limpiarFiltros();" data-toggle="tooltip" data-placement="top" title="" data-original-title="Limpiar filtros"> <i class="fa fa-eraser"></i>Limpiar </a>
                          </div>

                      </div>
                       <!--end .panel -->
                </div>
            </div>
          </div>



          <div class="panel form-element-padding" style="margin-top:-20px;">
            <table st-table="$ctrl.displayedCollection4" st-safe-src="$ctrl.rowCollection4" class="table table-striped" st-filtered-collection="$ctrl.filteredCollection">
              <thead>
              <tr>
                <th rowspan="2" st-sort="SAN">SAN</th>
                <th rowspan="2" st-sort="ESN">ESN</th>
                <th rowspan="2" st-sort="PlanDeServicio">Plan de <br>Servicio</th>                  
                <th rowspan="2" st-sort="Beam">Beam</th> 
                <th colspan = "2" style="text-align: center;">Velocidad</th> 

                <th rowspan="2" st-sort="Suscriptor">Suscriptor</th>  
                <th rowspan="2" st-sort="Referencia">Referencia</th>       
                <th rowspan="2" st-sort="Estatus">Estatus Comercial</th>    
                <th rowspan="2" st-sort="Latitud">Latitud</th>
                <th rowspan="2" st-sort="Longitud">Longitud</th>          
                <th rowspan="2" st-sort="IpNateada">Ip <br> Nateada</th>
                <th rowspan="2" st-sort="Fap">FAP</th>
                <th rowspan="2" st-sort="FechaJovian">Fecha JOVIAN</th>   
                <th rowspan="2" st-sort="Estado">Estado</th>   
                <th rowspan="2" st-sort="Municipio">Municipio</th> 
                <th rowspan="2" st-sort="Direccion">Dirección</th>               
              </tr>                <!--<tr><th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th> </tr> -->    
              <tr>            
                <th st-sort="VelocidadBajada">Bajada</th>  
                <th st-sort="VelocidadSubida">Subida </th>           
              </tr>
              <tr>
                <th>
                  <input st-search="SAN" placeholder="SAN" class="input-sm form-control" type="search"/>
                </th>
                <th>
                  <input st-search="ESN" placeholder="ESN" class="input-sm form-control" type="search"/>
                </th>  
                <th>
                  <input st-search="PlanDeServicio" placeholder="Plan Servicio" class="input-sm form-control" type="search"/>
                </th>
                <th>
                  <input st-search="Beam" placeholder="Beam" class="input-sm form-control" type="search"/>
                </th> 
                <th>
                  <input st-search="VelocidadBajada" placeholder="Bajada" class="input-sm form-control" type="search" />
                </th>           
                <th>
                  <input st-search="VelocidadSubida" placeholder="Subida" class="input-sm form-control" type="search" />
                </th>  
                <th>
                  <input st-search="Suscriptor" placeholder="Suscriptor" class="input-sm form-control" type="search" />
                </th> 
                <th>
                  <input st-search="Referencia" placeholder="Referencia" class="input-sm form-control" type="search" />
                </th>
                <th>      
                  <input st-search="Estatus" placeholder="Estatus" class="input-sm form-control" type="search"/>
                </th>    
                <th>
                 <input st-search="Latitud" placeholder="Latitud" class="input-sm form-control" type="search"/>
                </th> 
                <th>
                  <input st-search="Longitud" placeholder="Longitud" class="input-sm form-control" type="search"/>
                </th> 
                <th>
                  <input st-search="IpNateada" placeholder="Ip" class="input-sm form-control" type="search"/>
                </th>      
                <th>
                  <input st-search="Fap" placeholder="FAP" class="input-sm form-control" type="search" />
                </th>           
                <th>
                  <input st-search="FechaJovian" placeholder="Fecha" class="input-sm form-control" type="search" />
                </th>  
                <th>      
                  <input st-search="Estado" placeholder="Estado" class="input-sm form-control" type="search"/>
                </th>    
                <th>
                  <input st-search="Municipio" placeholder="Municipio" class="input-sm form-control" type="search"/>
                </th>         
                <th>                  
                  <input st-search="Dirección" placeholder="Dirección" class="input-sm form-control" type="search"/>
                </th>  
              </tr>

              </thead><!-- <td>{{row.SAN | uppercase}}</td> -->
                 <tbody>
                        <tr  dir-paginate="row in $ctrl.displayedCollection4|orderBy:sortKey:reverse|itemsPerPage:5">                  
                        <td width="5%">{{row.SAN}}</td>
                        <td>{{row.ESN}}</td>
                        <td>{{row.PlanDeServicio}}</td>
                    
                        <td>{{row.Beam}}</td>
                        <td width="3%">{{row.VelocidadBajada}}</td>                
                        <td width="3%">{{row.VelocidadSubida}}</td>
                        <td>{{row.Suscriptor}}</td>
                        <td class="media">{{row.Referencia}}</td>
                        <td width="5%" class="little">{{row.Estatus}}</td>
                        <td class="media">{{row.Latitud}}</td>
                        <td class="media">{{row.Longitud}}</td>
                        <td class="media">{{row.IpNateada}}</td>
                        <td ng-class = "{'conSinFap':(row.Fap =='ILIMITADO'), 
                        'color-blue':(row.Fap=='Pendiente')}"> {{row.Fap}}</td>      
                        
                        <td>{{row.FechaJovian}}</td>
                        <td>{{row.Estado}}</td>
                        <td class="media">{{row.Municipio}}</td>
                 
                        <td>{{row.Direccion}}</td>
                      </tr>             
                </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="18" class="text-left">
                            <dir-pagination-controls  max-size="5"
                                                    direction-links="true"
                                                    boundary-links="true">
                            </dir-pagination-controls>
                    </td>
                  </tr>
                </tfoot>
            </table>
              
            <div class="col-md-8  col-md-offset-2"  style="margin-bottom: 20px" align="center">
              <div class="col-sm-3"  >
                <button class="btn btn-csv btn-sm " ng-click="$ctrl.crearVisibleAsCsv()"  style="white-space: normal"></i> Exportar datos visibles como CSV </a> </button>
              </div>                
              <div class="col-sm-3">
                <button class="btn btn-csv btn-sm " ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal"> Exportar todo <br/> como CSV </button>
              </div>   
              <div class="col-sm-3">
                  <button class="btn btn-pdf btn-sm " ng-click="$ctrl.createPdfTodo('visible')"  style="white-space: normal">Exportar datos visibles como pdf</button>
              </div>         
              <div class="col-sm-3">
                <button class="btn btn-pdf btn-sm " ng-click="$ctrl.createPdfTodo('todo')"  style="white-space: normal">Exportar todo <br/> como pdf </button>
              </div>     
            </div>


                <button class="btn btn-default" id="csvUno" ng-hide="$ctrl.csvUnoHide" csv-column-order="$ctrl.order"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true"
                > esconder botón visible data as csv</button> <!--csv-column-order="$ctrl.order"  -->                

                <button class="btn btn-default" id="csvDos" ng-hide="$ctrl.csvDosHide" csv-column-order="$ctrl.order"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true"
                > esconder botón visible data as csv</button> <!--csv-column-order="$ctrl.order"  -->  
                

          </div>
        </div>
    </div>
</div>
