

<style type="text/css">
.myGrid {
    width: 500px;
    height: 250px;
  }

th{font-size: 9pt;}
td {font-size: 8.9pt;}


</style>



<div class="card" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Reportes</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reportes>Planta</small>
    </header>
        <div class="tools">

        </div>
  </div>
  <div class="section-body">
        <div class="col-md-12">
          <div class="panel-heading">
            <div class="tools">
                <div class="panel-group" id="suscriptor">
                                         
                      <div class="row">

                  


                      </div>
                       <!--end .panel -->
                </div>
            </div>
          </div>


          <div class="panel form-element-padding" style="margin-top:-20px; ">

                <table st-table="$ctrl.displayedCollection4" st-safe-src="$ctrl.rowCollection4" class="table table-striped" st-filtered-collection="$ctrl.filteredCollection" >
                  <thead>
                  <tr>
                    <Th rowspan = 2 st-sort="SAN" > Site Id</TH>
                    <th rowspan = 2 st-sort="IdSuscriptor">Cod Suscriptor </th>
                    <th rowspan = 2 st-sort="Cliente">Cliente</i></th>
                    <th rowspan = 2 st-sort="Suscriptor">Suscriptor</th>
                    <th rowspan = 2 st-sort="PlanDeServicio">Plan de Servicio</th>
                    <th rowspan = 2 st-sort="Hub">Hub</th>
                    <th rowspan = 2 st-sort="Beam">Beam</th>
                    <th rowspan = 2 st-sort="Pais">País</th>
                    <th rowspan = 2 st-sort="ESN">No. de Serie</th>
                    <th rowspan = 2 st-sort="Estatus">Est. Comercial</th>
                    <th rowspan = 2 st-sort="EstTecnico">Est. Técnico</th>
                    <th rowspan = 2 st-sort="Latitud">Latitud</th>
                    <th rowspan = 2 st-sort="Longitud">Longitud</th>
                    <th colspan = 4 style=""> Fecha</th>  
                    <th rowspan = 2 st-sort="consumoAnytime">Consumo Anytime (Gb)</th>
                    <th rowspan = 2 st-sort="consumoBonus">Consumo Bonus (Gb)</th>
                    <th rowspan = 2 st-sort="TokenDisp">Token Disp (Gb)</th>
                  </tr>
                  <tr>                    
                    <th st-sort="FechaAlta"> Alta</th>
                    <th st-sort="FechaActivacion">Activación</th>
                    <th st-sort="FechaSuspension"> Suspensión</th>
                    <th st-sort="FechaCancelacion">Cancelación</th>
                
                  </tr>
                  <!--<tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                  </tr> -->    
                  <tr>
                    <th>
                      <input st-search="SAN" placeholder="Site Id" class="input-sm form-control" type="search" />
                    </th>  
                    <th>
                      <input st-search="IdSuscriptor" placeholder="Cod Suscriptor" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                      <input st-search="Cliente" placeholder="Cliente" class="input-sm form-control" type="search" />
                    </th>    
                    <th>
                      <input st-search="Suscriptor" placeholder="Suscriptor" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                      <input st-search="PlanDeServicio" placeholder="Plan de Servicio" class="input-sm form-control" type="search"/>
                    </th>    
                    <th>
                      <input st-search="Hub" placeholder="Hub" class="input-sm form-control" type="search" />
                    </th>  
                    <th>
                      <input st-search="Beam" placeholder="Beam" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                      <input st-search="Pais" placeholder="Pais" class="input-sm form-control" type="search" />
                    </th>                      
                    <th>
                      <input st-search="ESN" placeholder="No. de Serie" class="input-sm form-control" type="search" />
                    </th>  
                    <th>
                      <input st-search="Estatus" placeholder="Estatus" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                      <input st-search="EstTecnico" placeholder="Est. Técnico" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                      <input st-search="Latitud" placeholder="Latitud" class="input-sm form-control" type="search"/>
                    </th>    
                    <th>
                      <input st-search="Longitud" placeholder="Longitud" class="input-sm form-control" type="search" />
                    </th>

                    <th colspan="4">
                      <input id='fecha' st-search placeholder="Fecha" class="input-sm form-control" type="search"/>
                    </th>
                    <!--
                    <th>
                      <input st-search="FechaAlta" placeholder="FechaAlta" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                    </th>  
                    <th>
                      <input st-search="FechaActivacion" placeholder="FechaActivacion" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                  
                    <th>
                      <input st-search="FechaSuspension" placeholder="FechaSuspension" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                    </th>    
                    <th>
                      <input st-search="FechaCancelacion" placeholder="FechaCancelacion" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                    </th>  --> 
                    <th>
                      <input st-search="consumoAnytime" placeholder="consumoAnytime" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                    </th>
                    <th>
                      <input st-search="consumoBonus" placeholder="consumoBonus" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                    </th> 
                        <th>
                      <input st-search="TokenDisp" placeholder="TokenDisp" class="input-sm form-control" type="search" ng-model="$ctrl.search"/>
                    </th> 
                   
                       
                
                  </tr>
                      </thead><!-- <td>{{row.SAN | uppercase}}</td> -->
                     <tbody>
                            <tr  dir-paginate="row in $ctrl.displayedCollection4|orderBy:sortKey:reverse|itemsPerPage:5"> 
                       
                            <td >{{row.SAN}}</td>
                            <td >{{row.IdSuscriptor}}</td>
                            <td>{{row.Cliente}}</td>
                            <td>{{row.Suscriptor}}</td>
                            <td>{{row.PlanDeServicio}}</td>
                            <td>{{row.Hub}}</td>
                            <td>{{row.Beam}}</td>
                            <td>{{row.Pais}}</td>
                            <td>{{row.ESN}}</td>
                            <td>{{row.Estatus}}</td>
                            <td>{{row.EstTecnico}}</td>
                            <td>{{row.Latitud}}</td>
                            <td>{{row.Longitud}}</td>
                            <td>{{row.FechaAlta}}</td>
                            <td>{{row.FechaActivacion}}</td>
                            <td>{{row.FechaSuspension}}</td>
                            <td>{{row.FechaCancelacion}}</td>
                            <td>{{row.ConsumoAnytime}}</td>
                            <td>{{row.ConsumoBonus}}</td>
                            <td>{{row.TokenDisp}}</td>
                          </tr>             
                    </tbody>
                      <tfoot>
                      <tr>
                        <td colspan="18" class="text-left">
                                <dir-pagination-controls  max-size="5"
                                                        direction-links="true"
                                                        boundary-links="true">
                                </dir-pagination-controls>
                        </td>
                      </tr>
                    </tfoot>
                </table>

            <div class="col-sm-8  col-sm-offset-2"  style="margin-bottom: 20px">
                <button class="btn btn-default btn-sm" ng-click="$ctrl.crearVisibleAsCsv()"></i> Exportar datos visibles como CSV </a> </button>

                <button class="btn btn-default btn-sm" ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  >Exportar todo como CSV</button>

                <button class="btn btn-default btn-sm" ng-click="$ctrl.createPdfTodo('todo')">Exportar todo como pdf</button>

                <button class="btn btn-default btn-sm" ng-click="$ctrl.createPdfTodo('visible')">Exportar datos visibles como pdf</button>


                <button class="btn btn-default" id="csvUno" ng-hide="$ctrl.csvUnoHide" csv-column-order="$ctrl.order"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."
                > esconder botón visible data as csv</button> <!--csv-column-order="$ctrl.order"  -->                

                <button class="btn btn-default" id="csvDos" ng-hide="$ctrl.csvDosHide" csv-column-order="$ctrl.order"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."
                > esconder botón visible data as csv</button> <!--csv-column-order="$ctrl.order"  -->  
            </div>


          </div>
        </div>
    </div>
</div>
