<style type="text/css">
	.scrollDiv{
	    height: 250px;
	    overflow: auto;
	    overflow-x: hidden;
	}

</style>
<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title">Movimientos De Terminal #{{ctrl.Terminal.SAN}}</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  <div class="row">
    <div class="col-md-4">
      <b style="font-size:14px;">Suscriptor:</b>
      <p style="font-size:14px;">{{ctrl.Terminal.Suscriptor}}</p>
    </div>
    <div class="col-md-4">
      <b style="font-size:14px;">Servicio:</b>
      <p style="font-size:14px;">{{ctrl.Terminal.Servicio}}</p>
    </div>
    <div class="col-md-4">
      <b style="font-size:14px;">Fecha Alta:</b>
      <p style="font-size:14px;">{{ctrl.Terminal.FechaAlta}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <b style="font-size:14px;">Fecha Baja:</b>
      <p style="font-size:14px;">{{ctrl.Terminal.FechaSuspension}}</p>
    </div>
    <div class="col-md-4">
      <b style="font-size:14px;">Latitud:</b><br>
      <p style="font-size:14px;">{{ctrl.Terminal.Latitud}}</p>
    </div>
    <div class="col-md-4">
      <b style="font-size:14px;">Longitud:</b>
      <p style="font-size:14px;">{{ctrl.Terminal.Longitud}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <b style="font-size:14px;">Status:</b>
      <p style="font-size:14px;">{{ctrl.Terminal.Estatus}}</p>
    </div>
    <div class="col-md-4">
      <b style="font-size:14px;">ESN:</b><br>
      <p style="font-size:14px;">{{ctrl.Terminal.ESN}}</p>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center">Movimientos</h3>
    <div class="col-md-12 scrollDiv">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Comando</th>
            <th>Origen</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in ctrl.movimientos">
            <td>{{ x.IdMovimiento }}</td>
            <td>{{ x.Comando }}</td>
            <td>{{ x.Origen }}</td>
            <td>{{ x.Fecha }}</td>
            <td><button class="btn btn-xs btn-warning" ng-click="ctrl.detalleMovimiento(x)"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cerrar</button>
</div>