<div class="panel" style="height:100px;">
  <div class="panel-body" style="margin-top:-20px;">
    <div class="col-md-6 col-sm-12">
      <h3 class="animated fadeInLeft">Suscriptores</h3>
      <p class="animated fadeInDown"><i class="fa fa-home" aria-hidden="true"></i> Provisión>Suscriptores</p>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="panel-heading">
    <div class="tools">
      <div class="row">
        <div class="col-md-2">
          <div class="panel-body">
            <label class="control-label text-left">San</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel-body">
            <label class="control-label text-left">Nombre</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel-body">
            <label class="control-label text-left">Estado</label>
            <select class="form-control" ng-model="$ctrl.estado" ng-options="v.Nombre for v in $ctrl.estados track by v.IdEstado"></select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel-body" style="margin-top:25px;">
              <button type="button" class="btn btn-raised btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
              <button type="button" class="btn pull-right btn-raised btn-success"  permission permission-only="'suscriptoresAdd'" ui-sref="home.provision.suscriptoresNuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel form-element-padding">
    <table class="table">
      <thead>
        <tr>
          <th>San</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Ciudad</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>

        <tr dir-paginate="x in $ctrl.suscriptores|itemsPerPage:8">
          <td>{{x.IdSuscriptor}}</td>
          <td>{{x.Nombre}} {{x.Apellido}}</td>
          <td>{{x.Email}} </td>
          <td>{{x.Telefono}}</td>
          <td>{{x.Ciudad}}</td>
          <td>
            <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detalle de suscriptor" ng-click="$ctrl.DetalleSuscriptor(x);"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar suscriptor" permission permission-only="'suscriptoresUpdate'" ui-sref="home.provision.suscriptoresEditar({id:x.IdSuscriptor})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar suscriptor" permission permission-only="'suscriptoresDelete'"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn i btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Terminales" ng-click="$ctrl.DetalleTerminales(x);"><i class="fa fa-laptop" aria-hidden="true"></i></button>
            <button class="btn i btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Movimientos" ng-click="$ctrl.DetalleMovimientos();"><i class="fa fa-exchange" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
  </div>
</div>
