<div class="card" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Suscriptores</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Provisión>Suscriptores</small>
    </header>
    <div class="tools">
      <div class="btn-group">
        <button type="button" class="btn pull-right btn-raised btn-success btn-sm" permission permission-only="'suscriptoresAdd'"
          ui-sref="home.provision.suscriptoresNuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
      </div>
    </div>
  </div>
  <div class="section-body">
    <div class="col-md-12">
      <div class="panel-heading">
        <div class="tools">
          <div class="panel-group" id="suscriptor">
            <div class="card panel">
              <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#suscriptor" data-target="#suscriptor-1"
                aria-expanded="false">
                <header>Buscar</header>
                <div class="tools">
                  <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
              <div id="suscriptor-1" class="collapse buscarSuscriptor" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <uib-tabset active="active">
                    <uib-tab index="0" heading="Suscriptor" ng-click="$ctrl.buscar()">
                      <br><br>
                      <div class="row">
                        <div class="col-md-2" style="margin-top:-30px;">
                          <div class="panel-body">
                            <input type="number" placeholder="Suscriptor" class="form-control input-sm" ng-change="$ctrl.cambiarBusqueda(1)" ng-model="$ctrl.bsan">
                          </div>
                        </div>
                        <div class="col-md-3" style="margin-top:-30px;">
                          <div class="panel-body">
                            <input type="text" placeholder="Nombre" class="form-control input-sm" ng-change="$ctrl.cambiarBusqueda(2)" ng-model="$ctrl.bnombre">
                          </div>
                        </div>
                        <div class="col-md-3" style="margin-top:-30px;">
                          <div class="panel-body">
                            <input type="text" placeholder="Apellidos" class="form-control input-sm" ng-change="$ctrl.cambiarBusqueda(2)" ng-model="$ctrl.bApellidos">
                          </div>
                        </div>
                        <div class="col-md-3" style="margin-top:-30px;">
                          <div class="panel-body">
                            <input type="text" placeholder="Referencia" class="form-control input-sm" ng-change="$ctrl.cambiarBusqueda(3)" ng-model="$ctrl.brefe">
                          </div>
                        </div>
                        <div class="col-md-1">
                          <p class="text-right">
                            <button type="button" class="btn btn-raised btn-primary btn-sm" ng-click="$ctrl.buscar()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                          </p>
                        </div>
                      </div>


                    </uib-tab>
                    <uib-tab index="1" heading="Domicilio" ng-click="$ctrl.buscar()">
                      <br><br>
                      <div class="row">
                        <div class="col-md-3">
                          <input type="text" placeholder="Calle" ng-change="$ctrl.cambiarBusqueda(3)" ng-model="$ctrl.Calle" class="form-control input-sm">
                        </div>
                        <div class="col-md-1">
                          <input type="text" placeholder="Numero" ng-change="$ctrl.cambiarBusqueda(3)" ng-model="$ctrl.Numero" class="form-control input-sm">
                        </div>
                        <div class="col-md-3">
                          <input type="text" placeholder="Colonia" ng-change="$ctrl.cambiarBusqueda(3)" ng-model="$ctrl.Colonia" class="form-control input-sm">
                        </div>
                        <div class="col-md-3">
                          <input type="text" ng-model="$ctrl.Ciudad" ng-change="$ctrl.cambiarBusqueda(3)" placeholder="Ciudad" class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-info btn-sm" ng-click="$ctrl.buscar()"><i class="fa fa-search"></i> Buscar</button>
                        </div>




                      </div>
                    </uib-tab>
                  </uib-tabset>

                </div>
                <!-- panel body -->
              </div>
            </div>
            <!--end .panel -->
          </div>
        </div>
      </div>
      <div class="panel form-element-padding" style="margin-top:-20px;">
        <table class="table">
          <thead>
            <tr>
              <th>Suscriptor</th>
              <th>Nombre</th>
              <th>Referencia</th>
              <th>Correo</th>
              <th>Calle y num.</th>
              <th>Ciudad</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>

            <tr dir-paginate="x in $ctrl.suscriptores|itemsPerPage:8">
              <td>{{ x.IdSuscriptor }}</td>
              <td>{{ x.Nombre }} {{ x.Apellido }}</td>
              <td>{{ x.Referencia }}</td>
              <td>{{ x.Email }} </td>
              <td>{{ x.Calle }} #{{x.Numero}}</td>
              <td>{{ x.Ciudad }}</td>
              <td>
                <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detalle de suscriptor"
                  ng-click="$ctrl.DetalleSuscriptor(x);"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar suscriptor"
                  permission permission-only="'suscriptoresUpdate'" ui-sref="home.provision.suscriptoresEditar({id:x.IdSuscriptor})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <a class="btn i btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Terminales"
                  ui-sref="home.provision.terminales({idSuscriptor: x.IdSuscriptor })"><i class="fa fa-laptop" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
