<div class="card" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Terminales</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Provisión</a></small>

    </header>
    <div class="tools">
      <div class="btn-group">

        <button type="button" class="btn pull-right btn-sm btn-raised btn-success" permission permission-only="'terminalesAdd'" ui-sref="home.provision.terminalesNueva"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>


      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="suscriptor">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#suscriptor" data-target="#suscriptor-1" aria-expanded="false">
          <header><b>Buscar Terminal</b></header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="suscriptor-1" class="collapse buscarSuscriptor" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <div class="panel-body">
                  <!-- <label class="control-label text-left">San</label> -->
                  <input type="text" class="form-control input-sm" ng-model="$ctrl.bsan" placeholder="SAN" ng-change="$ctrl.busquedaCambio(1)">
                </div>
              </div>
              <div class="col-md-3">
                <div class="panel-body">
                  <!-- <label class="control-label text-left">Suscriptor</label> -->
                  <input type="text" class="form-control input-sm" ng-model="$ctrl.bsus" placeholder="Nombre de suscriptor" ng-change="$ctrl.busquedaCambio(2)">
                </div>
              </div>
              <div class="col-md-3">
                <div class="panel-body">
                  <!-- <label class="control-label text-left">Servicio</label> -->
                  <select class="form-control input-sm" ng-model="$ctrl.bservicio" ng-change="$ctrl.busquedaCambio(3)" ng-options="v.Nombre for v in $ctrl.servicios track by v.IdServicio"></select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel-body">
                  <button type="button" class="btn btn-raised btn-sm btn-primary" ng-click="$ctrl.buscar()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>

                </div>
              </div>
            </div>
          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->
    </div>
    <div class="panel form-element-padding">
      <table class="table">
        <thead>
          <tr>
            <th>San</th>
            <th>Suscriptor</th>
            <th>ESN</th>
            <th>Servicio</th>
            <th>Estatus</th>

          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="x in $ctrl.terminales|itemsPerPage:7">
            <td>{{ x.SAN }}</td>
            <td>{{ x.Suscriptor }}</td>
            <td>{{ x.ESN }}</td>
            <td>{{x.Servicio}}</td>
            <td>{{x.Estatus}}</td>
            <td>
              <a ng-click="$ctrl.GestionTerminal(x)" class="btn  btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gestionar Terminal"><i class="fa fa-laptop" aria-hidden="true"></i></a>
              <a ng-click="$ctrl.verMovimientos(x)" class="btn  btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Movimientos"><i class="fa fa-exchange" aria-hidden="true"></i></a>
              <a ng-click="$ctrl.EditarTerminal(x)" permission permission-only="'terminalesUpdate'" class="btn  btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar Terminal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;" ng-show="true">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>

  </div>
</div>
