<div class="panel" style="height:100px;">
  <div class="panel-body" style="margin-top:-20px;">
    <div class="col-md-6 col-sm-12">
      <h4 style="margin-top: 20px;" class="animated fadeInLeft">Registro de Tickets de Autenticación</h4>
      <p class="animated fadeInDown"><i class="fa fa-home" aria-hidden="true"></i> Incidencias>Registro Tickets</p>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="panel form-element-padding">
           <form angular-validator-submit="submitMyForm()" name="myForm" class="form-horizontal" novalidate angular-validator>
              <div class="panel-heading">
                  <div class="tools">
                      <h4 class="text-muted">Información Técnica</h4>
                  </div>
              </div>
              <div class="panel-body" style="padding-bottom:30px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-right">Terminal</label>
                            <div class="col-sm-4 input-group">
                                <input  type = "text"
                                name = "nombre"
                                validate-on="dirty"
                                class = "form-control"
                                ng-model = "form.dirty"
                                required-message="'Error!, Este campo es obligatorio.'"
                                required placeholder="Buscar por siteid, serial o codigo">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Buscar">Buscar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-right">Motivo</label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option>Seleccione motivo</option>
                                    <option>Falla de Software</option>
                                    <option>Configuración</option>
                                    <option>Upgrade</option>
                                    <option>Condiciones climáticas</option>
                                    <option>Interferencia Solar</option>
                                    <option>Trabajo de Mantenimiento</option>
                                    <option>LAN Usuario</option>
                                    <option>Falla Información</option>
                                    <option>Falla en Hardwere</option>
                                    <option>Otros</option>
                                    <option>Alimentación Energía</option>
                                    <option>Migración Tecnológica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-right">Síntoma</label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option>Seleccione síntoma</option>
                                    <option>Sin servicio de internet</option>
                                    <option>Servicio degradado</option>
                                    <option>Cuota no renovada</option>
                                    <option>Consumos no efectuados</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                      <div class="tools">
                          <h4 class="text-muted">Datos del Contacto</h4>
                          <hr>
                      </div>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="form-group">
                                  <div class="col-sm-4">
                                      <select class="form-control" required><option>Seleccione tipo contrato</option></select>
                                  </div>
                                  <div class="col-sm-8">
                                      <input  type = "text"
                                      name = "nombre"
                                      validate-on="dirty"
                                      class = "form-control"
                                      ng-model = "form.dirty"
                                      required-message="'Error!, Este campo es obligatorio.'"
                                      required placeholder="Nombre del contrato que notificó la incidencia">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="form-group">
                                  <div class="col-sm-4">
                                      <select class = "form-control" required><option>Seleccione medio de comunicación</option></select>
                                  </div>
                                  <div class="col-sm-8">
                                      <input  type = "text"
                                      name = "nombre"
                                      validate-on="dirty"
                                      class = "form-control"
                                      ng-model = "form.dirty"
                                      required-message="'Error!, Este campo es obligatorio.'"
                                      required placeholder="Nombre del contrato que notificó la incidencia">
                                  </div>
                              </div>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-12">
                      <div class="tools">
                          <h4 class="text-muted">Descripción</h4>
                          <hr>
                      </div>
                      <div class="col-md-12">
                         <div class="row">
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <textarea  type = "text"
                                      name = "nombre"
                                      validate-on="dirty"
                                      class = "form-control"
                                      ng-model = "form.dirty"
                                      required-message="'Error!, Este campo es obligatorio.'"
                                      required></textarea>
                                  </div>
                              </div>
                          </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                      <div class="tools">
                          <p class="text-right">
                              <button class="btn btn-raised btn-primary btn-sm" type="button"><i class="fa fa-eraser" aria-hidden="true"></i>Limpiar</button>
                              <button class="btn btn-raised btn-primary btn-sm" type="submit"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Aplicar Árbol</button>
                              <button class="btn btn-raised btn-primary btn-sm" type="button"><i class="fa fa-ban" aria-hidden="true"></i>Cerrar Atención</button>
                              <button class="btn btn-raised btn-primary btn-sm" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Guardar Atención</button>
                          </p>
                      </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
</div>
