<form angular-validator-submit="$ctrl.GuardarUsuario()" name="myForm" class="form-horizontal" novalidate angular-validator>
  <div class="card" style="margin-top:20px; ">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <i class="fa fa-home" aria-hidden="true"></i> Configuración>{{$ctrl.titulo}}</small>
      </header>
      <div class="tools">
        <button class="btn btn-default btn-sm" ui-sref="home.provision.usuarios">Cancelar</button>
        <button class="btn btn-success btn-sm" ng-if="$ctrl.btnsubmit" type="submit">Guardar</button>
      </div>
    </div>
    <div class="card-body" style="margin-bottom:100px;">

      <div class="row ">

        <div class="col-md-3">
          <div class="col-md-12">
            <b>Nombre</b>
            <input type="text" name="nombre" validate-on="dirty" class="form-control" ng-model="$ctrl.Nombre" required-message="'Este campo es obligatorio.'"
              required>
          </div>
          <div class="col-md-12">
            <b>Usuario</b>
            <input type="text" class="form-control" ng-change="$ctrl.existe()" ng-model="$ctrl.Descripcion" name="descripcion" validate-on="dirty"
              required-message="'Este campo es obligatorio.'" required ng-disabled="$ctrl.userText">
            <small style="color:red" ng-show="$ctrl.isDuplicate">El nombre de usuario ya esta registrado, por favor introduce uno diferente.</small>
          </div>
          <div class="col-md-12">
            <b>Correo</b>
            <input type="email" class="form-control" ng-model="$ctrl.Correo" placeholder="correo@mail.com" name="correo" validate-on="dirty"
              invalid-message="'Formato de correo inválido.'" required-message="'Este campo es obligatorio.'" required>
          </div>
          <div class="col-md-12">
            <br>
            <b>Selecciona Rol</b>
            <select class="form-control" ng-options="item as item.Nombre for item in $ctrl.Roles track by item.IdRol" ng-model="$ctrl.Rol"
              name="rol" validate-on="dirty" required-message="'Este campo es obligatorio.'" required>
              <option value="">selecciona</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">

          <div class="row" ng-show="$ctrl.ValidatePanel">
            <div class="col-md-8">
              <b>
                <i class="fa fa-key"></i> ¿Necesitas modificar la contraseña?</b>
              <input type="password" class="form-control" ng-model="$ctrl.PassValidate" placeholder="contraseña anterior">
            </div>
            <div class="col-md-4">
              <br>
              <a class="btn btn-warning btn-sm" ng-click="$ctrl.ValidaPass()">Validar</a>
            </div>
          </div>
          <div class="row" ng-show="$ctrl.passwordPanel">
            <div class="col-md-12">
              <b>Contraseña</b>
              <input ng-if="$ctrl.editar == true" type="Password" class="form-control" ng-model="$ctrl.Contrasena" name="contra" validate-on="dirty"
                required-message="'Este campo es obligatorio.'" required>
            </div>
            <div class="col-md-12">
              <b>Repite la contraseña</b>
              <input ng-if="$ctrl.editar == true" type="Password" class="form-control" ng-model="$ctrl.Contrasena2" name="contra" validate-on="dirty"
                required-message="'Este campo es obligatorio.'" required>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">

              <div>
                <label class="checkbox-inline checkbox-styled checkbox-info">
                  <input type="checkbox" ng-model="$ctrl.RecibeMensaje">
                  <span></span> Recibe notificaciones en el sistema y en correo electrónico</label>
              </div>

            </div>
            <div class="col-md-12">
              <br>
              <label class="checkbox-inline checkbox-styled checkbox-warning">
                <input type="checkbox" ng-model="$ctrl.CheckMemoria">
                <span>Puede dar check a memorias técnicas </span>
              </label>
            </div>
          </div>

        </div>
  
        <div class="col-md-6" ng-if="$ctrl.Id>0" >
          <p>Selecciona que técnicos tendrá acceso el usuario para ejecución de procesos en el sistema  </p>
          <div class="col-md-12">
            <label>Distribuidor</label>
            
              <select name="distribuidor"
              ng-options="item as item.Nombre for item in $ctrl.Distribuidores track by item.Clave"
              class="form-control input-sm" ng-model="$ctrl.distribuidor" ng-change="$ctrl.getplazas()">
                  <option value=""> Selecciona distribuidor</option>
                 </select>
          </div>
          <div class="col-md-12">
            <label>Plazas</label>
            
              <select name="distribuidor" 
              ng-options="item as item.Nombre for item in $ctrl.Plazas track by item.Clave"
              ng-change="$ctrl.getTecnicosDisponibles()"
              class="form-control input-sm" ng-model="$ctrl.plaza">
                  <option value=""> Selecciona plazas</option>
                 </select>
          </div>
          <div class="col-md-8">
              <label>Técnico</label>
              <select name="tecnico" class="form-control input-sm"
              ng-options="item as item.Nombre for item in $ctrl.tecnicoslibres track by item.IdEntidad"
              ng-model="$ctrl.tecnicolibre">
                  <option value=""> Selecciona técnico</option>
                </select>
          </div>
          <div class="col-md-4">
            <br>
           <button class="btn btn-info btn-sm" type="button" ng-click="$ctrl.guardaRelacion()"> Agregar relación</button>
          </div>
          <div class="col-md-12" style="max-height:300px; overflow-y:scroll">
            <table class="table">
              <thead>
                <th>Distribuidor</th>
                <th>Nombre de técnico</th>
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr ng-repeat="x in $ctrl.tecnicosUsuario"> 
                   <td>{{x.IdEntidad}}</td>
                   <td>{{x.Nombre}}</td>
                   <td><button class="btn btn-danger btn-xs" type="button" ng-click="$ctrl.eliminaRelacion(x)"><i class="fa fa-trash"></i> Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
       
       

      </div>

    </div>
</form>
