<form angular-validator-submit="$ctrl.GuardarRol();" name="myForm" class="form-horizontal" novalidate angular-validator>
  <div class="card" style="margin-top:10px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Configuración</a></small>

      </header>
      <div class="tools">

        <!-- <button type="button" class="btn pull-right btn-raised btn-success btn-sm" ng-click="$ctrl.Guardar()" permission permission-only="'permisosAdd'">Guardar</button> -->
        <button class="btn btn-success btn-sm" type="submit" permission permission-only="'rolesAdd'">Guardar</button>
        <button type="button" class="btn btn-raised btn-default btn-sm" ui-sref="home.provision.roles"> Cancelar</button>

      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
        <div class="col-md-12">
          <b>Nombre de rol</b>
          <input type="text" class="form-control col-md-4" ng-model="$ctrl.Nombre" name="Nombre" required-message="'Este campo es obligatorio.'" validate-on="dirty" required validate-on="dirty">
        </div>
    
      
        <div class="col-md-12">
          <br>
          <b>Descripción de rol</b>
          <textarea class="form-control col-md-4" ng-model="$ctrl.Descripcion" name="Descripcion" required-message="'Este campo es obligatorio.'" placeholder="Describe brevemente las funciones de este rol en el sistema" validate-on="dirty" required validate-on="dirty"></textarea>
        </div>
    
    
        <div class="col-md-12">
          <br>
          <b>Status</b>
          <div><label class="checkbox-inline checkbox-styled checkbox-info"><input type="checkbox" ng-model="$ctrl.Estatus"><span> Activo</span></label></div>

        </div>
      
        </div>
        <div class="col-md-4  text-center">
         <table class="table" style="font-size:12px;">
           <thead>
             <th>Comando</th>
             <th>Selecciona</th>
           </thead>
           <tbody>
            <tr ng-repeat="x in $ctrl.comandos">
             <td>{{x.Nombre}}</td>
             <td>
                 <div><label class="checkbox-inline checkbox-styled checkbox-info"><input type="checkbox" ng-model="x.selected"><span> </span></label></div>

             </td>
            </tr>

           </tbody>

         </table>

        </div>

      </div>
    </div>
  </div>

  </div>
</form>
