<div class="panel" style="height:100px;">
  <div class="panel-body" style="margin-top:-20px;">
    <div class="col-md-6 col-sm-12">
      <h3 class="animated fadeInLeft">Permisos</h3>
      <p class="animated fadeInDown"><i class="fa fa-home" aria-hidden="true"></i> Configuración>Permisos</p>
    </div>
  </div>
</div>
<div class="row text-right">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    Selecciona un Rol
    <select ng-model="$ctrl.Rol" class="form-control" ng-change="$ctrl.ObtenPermisos();" ng-options="item as item.Nombre for item in $ctrl.Roles track by item.IdRol">
    <option value="">Selecciona</option>
    </select>
  </div>

</div>
<div class="col-md-12">

  <div class="panel form-element-padding">
    <table class="table" style="padding-letf:15px; padding-left:15px;" id="datos">
      <thead style="color: #0aa89e;">
        <tr>
          <th>Módulo</th>
          <th>Consultar</th>
          <th>Agregar</th>
          <th>Editar</th>
          <th>Eliminar</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in $ctrl.Modules">
          <td ng-if="x.ParentId == null"><b>{{x.Description}}</b></td>
          <td ng-if="x.ParentId != null">{{x.Description}}</td>


          <td>
            <div><label class="checkbox-inline checkbox-styled"><input type="checkbox" ng-model="x.OptSelect"><span></span></label></div>
          </td>
          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox"  ng-model="x.OptAdd"><span></span></label></div>
          </td>
          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox" ng-model="x.OptUpdate"><span></span></label></div>
          </td>
          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox"  ng-model="x.OptDelete"><span></span></label></div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
