<div class="card" style="margin-top:10px;">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Tipo Imagen</strong>
            <br />
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Configuración</a>> Catálogos Memoria Técnica > Tipo Imagen
                <a href="#" class="paginaActiva">Configuración</a>
            </small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button" class="btn pull-right btn-raised btn-info btn-sm" ng-click="$ctrl.Guardar()">
                    <i class="fa fa-edit" aria-hidden="true"></i> Guardar</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="col-md-5">
                <div class="col-md-12" style="margin-top: 10px;">
                    <b>Nombre</b>
                    <input type="text" name="nombre" validate-on="dirty" class="form-control" ng-model="$ctrl.NombreNuevo">
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <button type="button" class="btn pull-right btn-raised btn-primary btn-sm" ng-click="$ctrl.Agregar()">
                        <i class="fa fa-check" aria-hidden="true"></i> Agregar</button>
                </div>
            </div>
            <div class="col-md-7" style="font-size:12px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Activo</th>
                            <th>Validación en Sitio</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="x in $ctrl.Tipos|itemsPerPage:10">
                            <td>
                                <input type="text" style="font-size:12px;" name="nombre" validate-on="dirty" class="form-control" ng-model="x.Nombre">
                            </td>
                            <td class="text-center">
                                <label class="checkbox-inline checkbox-styled checkbox-primary">
                                    <input type="checkbox" ng-model="x.Activo" value="{{ x.IdTipo }}" ng-checked="x.Activo">
                                    <span></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="checkbox-inline checkbox-styled checkbox-primary">
                                    <input type="checkbox" ng-model="x.ValidacionEnSitio" value="{{ x.IdTipo }}" ng-checked="x.ValidacionEnSitio">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="$ctrl.ElimnarTipo(x)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="padding-left: 20px;" ng-show="true">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>