<div class="card" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Usuarios</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Configuración>Usuarios</small>
		</header>
		<div class="tools">
			<div class="btn-group">
				<button ui-sref="home.provision.nuevousuario" type="button" class="btn pull-right btn-raised btn-success btn-sm" permission permission-only="'terminalesAdd'" ui-sref="home.provision.terminalesNueva"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
			</div>
		</div>
	</div>
	<div class="section-body">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4" style="margin-top:20px;">
					<div class="input-group">
						<input type="text" class="form-control" aria-label="...">
						<div class="input-group-btn">
							<button type="button" class="btn btn-info dropdown-toggle" ng-model="$ctrl.Busuario" ng-click="$ctrl.BuscaUsuario();" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>ROL</th>
								<th>NOMBRE</th>
								<th>PASSWORD</th>
								<th>STATUS</th>
								<th>OPCIONES</th>

							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="x in $ctrl.Usuarios|itemsPerPage:5">
								<td>{{ x.IdUsuario }}</td>
								<td>{{ x.Nombre }}</td>
								<td>{{ x.Usuario }}</td>

								<td>{{x.Password}}</td>
								<td ng-if="x.Estado==true">
									<span class="label label-outline label-success">Activo</span>
								</td>
								<td ng-if="x.Estado==false">
									<span class="label label-outline label-danger">Desactivado</span>
								</td>
								<td>
									<a ui-sref="home.provision.editausuario({id:x.IdUsuario })" permission permission-only="'usuariosUpdate'" class="btn  btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar usuario"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="padding-left: 20px;" ng-show="true">
						<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
						</dir-pagination-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
