<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Manuales</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Memoria técnica</a></small>
    </header>
    <div class="tools">

    </div>
  </div>
  <div class="card-body">

    <div class="col-md-4 text-center">
      <h5 class="text-primary">Manual de instalación banda Ka 65W3</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" download href="Manuales/65W.docx" ><i class="fa fa-download"></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-primary">Manual de instalación banda Ka ECHOSTAR1.</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" download href="Manuales/ECHOSTAR.docx"><i class="fa fa-download"  ></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-primary">Manual de instalación banda Ka AMAZONAS3</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" download href="Manuales/AMAZONAS.docx"><i class="fa fa-download"></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
        <h5 class="text-primary">SBC  E19-65W</h5>
        <img src="images/folder.svg" width="50">
        <a class="btn btn-default-bright btn-sm" download href="Manuales/sbc- E19-65W.RAR"><i class="fa fa-download"></i> Descargar </a>
      </div>
    <div class="col-md-4 text-center">
      <h5 class="text-primary">SBC Amazonas 3</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" download href="Manuales/SBC Amazonas 3 - KA.RAR"><i class="fa fa-download"></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
        <h5 class="text-primary">SBC PEGASO 16MSPS UNIVERSAL</h5>
        <img src="images/folder.svg" width="50">
        <a class="btn btn-default-bright btn-sm"  download href="Manuales/SBC_HN1_16MSPS.RAR"><i class="fa fa-download"></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-primary">3.1 Proceso de validación en el portal SIIAMCO paso a paso</h5>
      <img src="images/pdf.svg" width="50">
      <a class="btn btn-default-bright btn-sm" download href="Manuales/3.1 Proceso de validación en el portal SIIAMCO paso apaso.pdf"><i class="fa fa-download"></i> Descargar </a>
  </div>
  <div class="col-md-4 text-center">
    <h5 class="text-primary">3.2 Escenarios de instalación de equipos</h5>
    <img src="images/pdf.svg" width="50">
    <a class="btn btn-default-bright btn-sm"  download href="Manuales/3.2 Escenarios de instalación de equipos.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>

<div class="col-md-4 text-center">
  <h5 class="text-primary">Checklist primeras instalaciones -Proyecto con Telecomm</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Checklist primeras instalaciones -Proyecto con Telecomm.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 2 Proyecto 12K Señales de StarTV Educativo</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 2 Proyecto 12K Señales de StarTV Educativo.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>

<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 3 Proyecto 12 K SIIAMCO</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 3 Proyecto 12 K SIIAMCO.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>

<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 4 Horario de llegada a sitio</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 4 Horario de llegada a sitio.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 5 Proyecto Contactos en sitio</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 5 Proyecto Contactos en sitio.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 6 Proyecto URGENTE-Mandatorio</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 6 Proyecto URGENTE-Mandatorio.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 7 Activación SETUP BOX Telecomm</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 7 Activación SETUP BOX Telecomm.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Comunicado 7.1 12K eliminar canales solo Paquete Social</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Comunicado 7.1 12K eliminar canales solo Paquete Social.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Escenarios de soporte</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Escenarios de soporte.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Guia de códigos de estado HUGHES</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Guia-de-codigos-de-estado-HUGHES.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Guia de usuario para el uso del BOSS</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="Manuales/Guia-de-usuario-para-el-uso-del-BOSS.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Tierra fisica</h5>
  <img src="images/pdf.svg" width="50">
  <a class="btn btn-default-bright btn-sm"   download href="Manuales/Tierra fisica.pdf"><i class="fa fa-download"></i> Descargar </a>
</div>

<div class="col-md-4 text-center">
  <h5 class="text-primary">Proceso Completo Armado Instalación StarGo </h5>
  <img src="images/movie.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download="" href="{{$ctrl.url}}/Manuales/ProcesoCompletoArmadoInstalaciónStarGo.mp4"><i class="fa fa-download"></i> Descargar </a>
</div>
<div class="col-md-4 text-center">
  <h5 class="text-primary">Proceso Ensamble Antena StarGo</h5>
  <img src="images/movie.svg" width="50">
  <a class="btn btn-default-bright btn-sm"  download href="{{$ctrl.url}}/Manuales/ProcesoEnsambleAntenaStarGo.mp4"><i class="fa fa-download"></i> Descargar </a>
</div>



  </div>
</div>
