<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Manuales</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Memoria técnica</a></small>
    </header>
    <div class="tools">

    </div>
  </div>
  <div class="card-body">

    <div class="col-md-4 text-center">
      <h5 class="text-primary">Manual de instalacción banda Ka 65W3</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" href="{{$ctrl.url}}/Manuales/65W.docx" ><i class="fa fa-download"></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-primary">Manual de instalacción banda Ka ECHOSTAR1.</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" href="{{$ctrl.url}}/Manuales/ECHOSTAR.docx"><i class="fa fa-download"  ></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-primary">Manual de instalacción banda Ka AMAZONAS3</h5>
      <img src="images/folder.svg" width="50">
      <a class="btn btn-default-bright btn-sm" href="{{$ctrl.url}}/Manuales/AMAZONAS.docx"><i class="fa fa-download"></i> Descargar </a>
    </div>
    <div class="col-md-4 text-center">
        <h5 class="text-primary">SBC  E19-65W</h5>
        <img src="images/folder.svg" width="50">
        <a class="btn btn-default-bright btn-sm" download="{{$ctrl.url}}/Manuales/sbc- E19-65W.RAR" href="{{$ctrl.url}}/Manuales/sbc- E19-65W.RAR"><i class="fa fa-download"></i> Descargar </a>
      </div>
      <div class="col-md-4 text-center">
          <h5 class="text-primary">SBC Amazonas 3</h5>
          <img src="images/folder.svg" width="50">
          <a class="btn btn-default-bright btn-sm" download="{{$ctrl.url}}/Manuales/SBC Amazonas 3 - KA.RAR" href="{{$ctrl.url}}/Manuales/SBC Amazonas 3 - KA.RAR"><i class="fa fa-download"></i> Descargar </a>
        </div>
        <div class="col-md-4 text-center">
            <h5 class="text-primary">SBC PEGASO 16MSPS UNIVERSAL</h5>
            <img src="images/folder.svg" width="50">
            <a class="btn btn-default-bright btn-sm"  download="{{$ctrl.url}}/Manuales/SBC_HN1_16MSPS.RAR" href="{{$ctrl.url}}/Manuales/SBC_HN1_16MSPS.RAR"><i class="fa fa-download"></i> Descargar </a>
          </div>


  </div>
</div>
