<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()">×</button>
    <h4 class="modal-title">
      <i class="text-warning"></i>!Advertencia!</h4>
  </div>
  <div class="modal-body" >
    <div class="row" >
      <div class="col-md-12 text-center">
          <span class="text-xl">¿Está seguro de asignar folio?</span>
      </div>
      <div class="col-md-12 text-center" style="margin-top:45px;">
          <div class="col-md-6 text-center">
            <button class="btn btn-success btn-sm" type="button" ng-click="$ctrl.aceptar()" style="width:80px;"><span class="text-xl">Sí</span></button>
          </div>
          <div class="col-md-6 text-center">
            <button class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.cancel()" style="width:80px;"><span class="text-xl">No</span></button>
          </div>
      </div>
    </div>  
  </div>
  <div class="modal-footer">
  </div>
  