<style type="text/css">
  .scrollDiv {
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
  }


  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }

  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .form-group>label,
  .form-group .control-label {
    font-size: 12px !important;
    opacity: 0.9;
    margin-bottom: 0 !important;
  }


  .my-drop-zone {
    border: dotted 3px lightgray;
  }

  .nv-file-over {
    border: dotted 3px red;
  }
  /* Default class applied to drop zones on over */

  .another-file-over-class {
    border: dotted 3px green;
  }

  html,
  body {
    height: 100%;
  }

  canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
  }

  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.846153846;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: none;
    opacity: 0.9;
    font-weight: 500;
    text-transform: uppercase;
  }

</style>
<form angular-validator-submit="$ctrl.guardar()" name="myForm" class="form-horizontal" novalidate angular-validator>

  <div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> 
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Memoria técnica</a></small>
      </header>
      <div class="tools">
        <div class="btn-group">
          <button class="btn btn-primary btn-sm" ng-show="$ctrl.showguardar" title="Crear una nueva memoria técnica" type="submit"> Guardar</button>
          <button title="Regresar a atenciones telefónicas" type="button" ui-sref="home.memoria.memoriastecnicas" class="btn btn-default-bright btn-sm"
            name="button">Salir</button>
        </div>
      </div>
    </div>
    <fieldset ng-disabled="$ctrl.detalle">
      <div class="card-body">

        <div class="row">
          <div class="col-md-5">
            <p><b class="text-center text-primary"> Información principal</b></p>
            <div class="form-group row ">
              <label class="col-sm-3 control-label"># Orden</label>
              <div class="col-sm-4">
                <input type="number" class="form-control input-sm" name="numeroOrden" ng-disabled="$ctrl.blockorden" ng-model="$ctrl.numeroorden"
                  validate-on="dirty" invalid-message="'El número de la orden es obligatorio'" placeholder="Ingresa #orden"
                  required />
              </div>
              <div class="col-sm-3">
                <button type="button" ng-disabled="$ctrl.blockorden" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.validar()">Validar</button>
              </div>
            </div>

            <div class="form-group row ">
              <label class="col-sm-3 control-label">Folio instalación</label>
              <div class="col-sm-4">
                <input type="text" class="form-control input-sm" ng-disabled="true" name="numerofolio" placeholder="Ingresa # folio"
                  ng-model="$ctrl.numerofolio" />
              </div>
              <div class="col-sm-3" ng-if="$ctrl.permitecheck">
                <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"  ng-model="$ctrl.generafolio" 
                            ng-disabled="$ctrl.blockgenerafolio"
                            ng-change="$ctrl.obtenfolio()"
                            ><span>{{$ctrl.mensajefolio}}</span>
													</label>
              </div>


            </div>
            <div class="form-group row ">
              <label class="col-sm-3 control-label">Contrato</label>
              <div class="col-sm-4">
                <input type="text" class="form-control input-sm" ng-disabled="$ctrl.blockcontrato" name="contrato" ng-model="$ctrl.contratocompania"
                  validate-on="dirty" invalid-message="'El número de la orden es obligatorio'" name="password" placeholder=""
                  required />
              </div>
              <div class="col-sm-3">
                <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"  ng-model="$ctrl.Combo" 
                            ng-disabled="true"
                            
                            ><span>Es combo</span>
													</label>
              </div>
            </div>


          </div>
          <div class="col-md-7">

            <p><b class="text-center text-primary"> Datos de la empresa</b></p>

            <div class="col-md-6">

              <div class="form-group row ">
                <label class="col-sm-5 control-label">Distribuidor</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" ng-model="$ctrl.distribuidor" name="distribuidor" validate-on="dirty" invalid-message="'El distribuidor es obligatorio'"
                    placeholder="" required />
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group row ">
                <label class="col-sm-5 control-label">Fecha visita de sitio</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" name="fechasitio" ng-model="$ctrl.fechasitio" placeholder="DD/MM/YYYY" model-view-value="true"
                    ui-mask="99/99/9999" validate-on="dirty" invalid-message="'La fecha es obligatoria'" placeholder="Ingresa #orden"
                  />
                </div>
              </div>

            </div>


            <div class="col-md-6">
              <div class="form-group row ">
                <label class="col-sm-5 control-label">Hora de llegada</label>
                <div class="col-sm-7">
                  <input type="text" placeholder="hh:mm" ui-mask="99:99" model-view-value="true" class="form-control input-sm" name="horallegada"
                    ng-model="$ctrl.horallegada" validate-on="dirty" invalid-message="'La hora es obligatoria'" placeholder=""
                    required />
                </div>

              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group row ">
                <label class="col-sm-5 control-label">Hora de salida</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" model-view-value="true" name="horasalida" placeholder="hh:mm" ui-mask="99:99"
                    ng-model="$ctrl.horasalida" validate-on="dirty" invalid-message="'La hora es obligatoria'" placeholder=""
                    required />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row ">
                <label class="col-sm-5 control-label">Nombre de Instalador</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" ng-model="$ctrl.instalador" name="nombreinstalador" validate-on="dirty"
                    invalid-message="'El nombre es obligatorio'" placeholder="Ingresa el nombre del instalador" required />
                </div>
              </div>
            </div>

            <div class="col-md-6">
            </div>







          </div>

        </div>


        <div class="col-md-12  col-sm-12 col-lg-12">
          <uib-tabset active="activeJustified" justified="false">
            <uib-tab index="0" heading="Datos del sitio">
              <br>
              <div class="row">

                <div class="col-md-4">
                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Cliente</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="cliente" ng-model="$ctrl.cliente">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Direccion</label>
                    <div class="col-sm-7">
                      <textarea type="text" class="form-control input-sm" ng-model="$ctrl.direccion" name="direccion" rows="3">
                          
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">C.P</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="codigopostal" ng-model="$ctrl.codigopostal">
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Teléfono</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="telefono" ng-model="$ctrl.telefono">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Celular</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="celular" ng-model="$ctrl.celular">
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Domicilio de notificación</label>
                    <div class="col-sm-7">
                      <textarea type="text" class="form-control input-sm" name="notificacion" ng-model="$ctrl.domicilionotificacion" rows="3"></textarea>
                    </div>
                  </div>
                  <!-- <div class="form-group row ">
                    <label class="col-sm-5 control-label">site ID</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="siteid" placeholder="" ng-model="$ctrl.siteid" />
                    </div>
                  </div>-->








                </div>



                <div class="col-md-4">

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Localidad</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="localidad" ng-model="$ctrl.localidad" placeholder="" />
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Municipio</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="municipio" ng-model="$ctrl.municipio" placeholder="" />
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Estado</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="estado" ng-model="$ctrl.estado" placeholder="" />
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Nombre persona que valida el servicio:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="nombrevalida" ng-model="$ctrl.PersonaValidaServicio">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Recibe en sitio:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="recibe" ng-model="$ctrl.recibe">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Tipo de servicio:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="tiposervicio" ng-model="$ctrl.tiposervicio">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Plan de servicio:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="plan" ng-model="$ctrl.plan">
                    </div>
                  </div>









                </div>

                <div class="col-md-4">


                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Plataforma satelital:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" ng-model="$ctrl.plataforma" name="plataforma">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Beam:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="beam" ng-model="$ctrl.beam">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Fecha Activación:</label>
                    <div class="col-sm-7">
                      <input type="text" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" model-view-value="true" class="form-control input-sm" name="fechaactivacion"
                        ng-model="$ctrl.fechaactivacion" ng-disabled="true">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">SAN:</label>
                    <div class="col-sm-7">
                      <input type="number" class="form-control input-sm" name="SAN" ng-model="$ctrl.SAN">
                    </div>
                  </div>


                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Latitud:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="latitud" ng-model="$ctrl.latitud">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Longitud:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="longitud" ng-model="$ctrl.longitud">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Velocidad:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="velocidad" ng-model="$ctrl.velocidad">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-5 control-label">Estatus técnico:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" name="estatustecnico" ng-model="$ctrl.estatustecnico">
                    </div>
                  </div>



                </div>

              </div>


            </uib-tab>
            <uib-tab index="1" heading="Trabajos Realizados">
              <br>
              <div class="row">

                <div class="col-md-4 col-md-offset-2">

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"
                            ng-disabled="$ctrl.detalle"
                             ng-model="$ctrl.Instalacion" ><span>Instalación</span>
													</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"
                            ng-disabled="$ctrl.detalle"
                             ng-model="$ctrl.Mantenimiento" ><span>Mantenimiento</span>
													</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox" 
                            ng-disabled="$ctrl.detalle"
                            ng-model="$ctrl.CambioComponentes" ><span>Cambio de componentes</span>
													</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"
                            ng-disabled="$ctrl.detalle"
                             ng-model="$ctrl.SiteSurvey" ><span>Site Survey</span>
													</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"
                            ng-disabled="$ctrl.detalle"
                             ng-model="$ctrl.InstalacionDemo" ><span>Instalación Demo/Piloto</span>
													</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox" 
                            ng-disabled="$ctrl.detalle"
                            ng-model="$ctrl.Reubicacion" ><span>Reubicación</span>
													</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox"
                            ng-disabled="$ctrl.detalle"
                             ng-model="$ctrl.Apuntamiento" ><span>Apuntamiento</span>
													</label>
                    </div>
                  </div>

                </div>

                <div class="col-md-4">
                  <p>Detalles:</p>
                  <textarea rows="6" class="form-control input-sm" name="detalleinstalacion" ng-model="$ctrl.detalleinstalacion" placeholder="Redacta brevemente los detalles de la instalación"></textarea>

                </div>
              </div>


            </uib-tab>
            <uib-tab index="2" heading="Mediciones Eléctricas">
              <div class="row">
                <br>
                <div class="col-md-4 col-md-offset-2">
                  <h5 class="text-center text-primary">Voltaje comercial</h5>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Neutro-tierra :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="vcneutrotierra" ng-model="$ctrl.vcneutrotierra">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Fase-tierra :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="vcfasetierra" ng-model="$ctrl.vcfasetierra">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Fase-Neutro :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" ng-model="$ctrl.vcfaseneutro" name="vcfaseneutro">
                    </div>
                  </div>

                </div>
                <div class="col-md-4">

                  <h5 class="text-center text-primary ">Voltaje UPS/No Break</h5>
                  <p class="text-muted">En caso de no instalar Voltaje Ups/ Nobreak Dejar campo en BLANCO (No capturar) </p>
                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Neutro-tierra :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="upcneutrotierra" ng-model="$ctrl.upcneutrotierra">
                    
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Fase-tierra :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" ng-model="$ctrl.upcfasetierra" name="upcfasetierra">
                      
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Fase-Neutro :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="$ctrl.upcfaseneutro" ng-model="$ctrl.upcfaseneutro">
                    </div>
                  </div>

                </div>


              </div>



            </uib-tab>
            <uib-tab index="3" heading="Datos de Equipo y Desempeño">

              <div class="row">
                <br>
                <div class="col-md-3">

                  <img src="images/memoria.jpg" width="250" height="200">
                </div>

                <div class="col-md-4 ">



                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Módem (serie) :</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control input-sm" validate-on="dirty" invalid-message="'solo se permiten 8 números '" pattern=".{8,8}"
                        name="modem" ng-model="$ctrl.modem">
                      <p class="text-muted">(CAPTURAR LOS ULTIMOS 8 CARACTERES NUMÉRICOS )</p>
                    </div>
                  </div>


                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Tamaño de antena :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="tamanoantena" ng-model="$ctrl.tamanoantena">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Valor de SQF :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="sqf" ng-model="$ctrl.sqf">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">UPS(serie) :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="upsserie" ng-model="$ctrl.upsserie">
                      <p class="text-muted">En caso de no instalar UPS Dejar campo en BLANCO (No capturar)</p>
                    </div>
                  </div>

                </div>
                <div class="col-md-4">



                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Serie de Radio :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" validate-on="dirty" invalid-message="'solo se permiten 10 números '" ng-model="$ctrl.serieradio"
                        name="serieradio" pattern=".{10,10}">

                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Serie de router :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" ng-model="$ctrl.serierouter" name="serierouter">
                    </div>
                  </div>

                  <div class="form-group row ">
                    <label class="col-sm-3 control-label">Marca Router :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="marcarouter" ng-model="$ctrl.marcarouter">

                    </div>
                  </div>

                <!--   <div class="form-group row ">
                    <label class="col-sm-3 control-label">WiFi (serie) :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control input-sm" name="wifiserie" ng-model="$ctrl.wifiserie">
                    </div>
                  </div> -->

                </div>


              </div>

            </uib-tab>
         
            <uib-tab index="4" heading="Cambio de Equipos">
              <br>
              <div class="col-md-12">

                <div class="col-md-8 col-md-offset-2" style="padding: 10px;">
                  <div class="col-md-4">
                    <div class="col-md-12">
                      Equipo a surtir
                      <input type="text" class="form-control" name="equiposurtir" ng-model="$ctrl.equiposurtir">
                    </div>
                    <div class="col-md-12">
                      Serie Anterior
                      <input type="text" class="form-control" name="serieanterior" ng-model="$ctrl.serieanterior">
                    </div>
                    <div class="col-md-12">
                      Serie Nueva
                      <input type="text" class="form-control " ng-model="$ctrl.serienueva" name="serienueva">
                    </div>
                    <div class="col-md-12">
                      <br>
                      <button type="button" class="btn btn-success btn-sm" ng-disabled="$ctrl.detalle" ng-click="$ctrl.cambioAparato()">Agregar</button>
                    </div>

                  </div>
                  <div class="col-md-8">
                    <h5 class="text-primary text-center">Aparatos Agregados</h5>
                    <div class="col-md-12">
                      <table class="table">
                        <thead>
                          <th>Modelo</th>
                          <th>Serie anterior</th>
                          <th>Serie nueva</th>
                          <th>Opciones</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="s in $ctrl.cambios">
                            <td>{{s.Equipo}}</td>
                            <td>{{s.SerieAnterior}}</td>
                            <td>{{s.SerieNueva}}</td>
                            <td><button type="button" ng-disabled="$ctrl.detalle" class="btn btn-danger btn-xs" ng-click="$ctrl.eliminaaparato($index)">
                        <i class="fa fa-trash"></i> Eliminar</button></td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>



                </div>

              </div>

            </uib-tab>

            <uib-tab ng-if="$ctrl.Combo==true" index="5" heading="Equipos Digitales">
              <br>
              <div class="col-md-8 col-md-offset-2" style="padding: 10px;">

                <div class="col-md-6">
                  <h5 class="text-primary text-center">Ingresa el aparato</h5>
                  <div class="col-md-12">
                    <b> Nombre de paquete</b>
                    <input type="text" class="form-control" name="paquete" ng-model="$ctrl.paquete">
                  </div>
                  <div class="col-md-12">
                    <b>Equipo</b>
                    <input type="text" class="form-control" name="equipodigital" ng-model="$ctrl.equipodigital">
                  </div>
                  <div class="col-md-12">
                    <b>Serie de aparato</b>
                    <input type="text" class="form-control" name="serieanterior" ng-model="$ctrl.seriedigital">
                  </div>


                  <div class="col-md-12 text-center">
                    <br>
                    <button type="button" class="btn btn-success btn-sm" ng-disabled="$ctrl.detalle" ng-click="$ctrl.addAparatodig()">Agregar stb</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="text-primary text-center">Aparatos Agregados</h5>
                  <ul class="list divider-full-bleed">
                    <li class="tile" ng-repeat="x in $ctrl.aparatosdigitales">
                      <a class="tile-content ink-reaction">
                        <div class="tile-icon">
                          <img src="../../assets/img/avatar2.jpg?1404026449" alt="">
                        </div>
                        <div class="tile-text"><b class="text-info">{{x.paquete}}</b><br>{{x.Equipo}} | {{x.SerieAnterior}}</div>
                      </a>
                      <a class="btn btn-flat ink-reaction" ng-click="$ctrl.eliminaaparatodig($index);">
                        <i class="fa fa-trash"></i>
                      </a>
                    </li>

                  </ul>

                </div>



              </div>

            </uib-tab>


            <uib-tab index="6" heading="Carga de Imagenes">
              <br>
              <div class="col-md-12">
                <div class="col-md-6" ng-show="$ctrl.seleccionImagen">
                  <h4 class="text-center text-danger"><i class="fa fa-picture-o"></i> Subir Imagenes</h4>
                  <div class="col-md-6">
                    <p class="text-primary">Selecciona el tipo de imagen</p>
                    <select ng-model="$ctrl.tipoimagen" class="form-control input-sm" ng-options="item as item.Nombre for item in $ctrl.tiposresp track by item.IdTipo"
                      ng-model="selected">
                      <option value="">Selecciona el tipo </option>
                  </select>
                  </div>

                  <div class="col-md-6">
                    <br>
                    <div class="fileUpload btn btn-sm btn-primary">
                      <span>Elegir archivos</span>
                      <input type="file" ng-disabled="$ctrl.tipoimagen===''||$ctrl.tipoimagen===null" multiple="multiple" id="file" nv-file-select
                        uploader="$ctrl.uploader" class="upload" />
                    </div>


                  </div>
                  <div class="col-md-12" style="overflow-y: scroll; max-height: 350px;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="50%">Elegir</th>
                          <th width="50%">Nombre</th>
                          <th width="50%">Tipo</th>
                          <th width="50%">Preview</th>
                          <th ng-show="uploader.isHTML5">Tamaño</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in $ctrl.uploader.queue">
                          <td>
                            <strong>{{ item.file.name }}</strong>
                          </td>
                          <td>
                            <strong>{{ item.file.tipo }}</strong>
                          </td>
                          <td>
                            <div ng-thumb="{ file: item._file, width: 100, height: 100 }"></div>
                          </td>
                          <td ng-show="$ctrl.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB
                          </td>
                          <td>

                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                    </button>
                          </td>



                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>
                <div class="col-md-6  text-center">
                  <h4 class="text-center text-danger"><i class="fa fa-picture-o"></i> Imagenes cargadas</h4>
                  <div class="col-md-12" style="overflow-y: scroll; max-height: 350px;">
                    <table class="table">
                      <thead>

                        <th>Tipo de imagen</th>
                        <th>preview</th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in $ctrl.Lista_evidencias">

                          <td>{{x.Tipo_}}</td>
                          <td>

                            <img class="img-thumbnail" ng-click="$ctrl.openLightboxModal($index)" ng-src="{{x.RutaCompleta}}" alt="" style="width: 100px; height: 100px; "></td>
                          <td><button type="button" ng-click="$ctrl.BorraImagen($index)" ng-disabled="$ctrl.detalle" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Eliminar</button></td>
                        </tr>
                      </tbody>

                    </table>
                  </div>

                </div>
              </div>

            </uib-tab>
            <uib-tab index="7" heading="">
              <uib-tab-heading> Notas <span class="badge pull-right">{{$ctrl.notas.length+$ctrl.notas_ant.length}}</span></uib-tab-heading>
              <div class="col-md-12">
                <div class="col-md-3">
                  <p class="text-primary">Agrega Nota: </p>
                  <textarea placeholder="Agrega aqui el contenido de la nota....." class="form-control" ng-model="$ctrl.detallenota" rows="5">
                    
                    </textarea>

                  <button class="btn btn-info btn-sm" type="button"  ng-click="$ctrl.guardaNota()"><i class="fa fa-save"></i> agregar</button>
                </div>
                <div class="col-md-9" style="overflow-y: scroll; max-height: 400px;">

                  <div class="tab-pane" id="activity">
                    <ul class="timeline collapse-lg timeline-hairline">
                      <li class="timeline-inverted" ng-repeat="x in $ctrl.notas">
                        <div class="timeline-circ circ-xl style-primary"><i class="md md-event"></i></div>
                        <div class="timeline-entry">
                          <div class="card style-default-light">
                            <div class="card-body small-padding">
                              <!-- <div class="col-md-8">

                               </div>
                               <div class="col-md-4"></div>-->
                              <p><em>{{x.Observacion}}</em></p>
                              <span class="text-medium">Nota de  <span class="text-primary">{{x.Nombre}}</span></span><br>
                              <span class="opacity-50">                              
														{{x.Fecha}}
														</span>
                              <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.eliminaNota()"><i class="fa fa-trash"></i>Eliminar nota</button>
                            </div>

                          </div>
                        </div>
                        <!--end .timeline-entry -->
                      </li>

                      <li class="timeline-inverted" ng-repeat="x in $ctrl.notas_ant">
                        <div class="timeline-circ circ-xl style-primary"><i class="md md-event"></i></div>
                        <div class="timeline-entry">
                          <div class="card style-default-light">
                            <div class="card-body small-padding">
                              <p><em>{{x.Observacion}}</em></p>
                              <span class="text-medium">Nota de  <span class="text-primary">{{x.Nombre}}</span></span><br>
                              <span class="opacity-50">
														{{x.Fecha}}
														</span>
                            </div>
                          </div>
                        </div>
                        <!--end .timeline-entry -->
                      </li>

                    </ul>
                  </div>
                </div>


              </div>
            </uib-tab>
          </uib-tabset>
        </div>

      </div>
    </fieldset>
  </div>
</form>
