<style>
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
     padding: 0px 4px; 
    line-height: 1.846153846 ;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}





</style>














<div class="card" style="margin-top: 10px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Status {{$ctrl.datosterminal.deviceID}} </strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Monitoreo>Beams</small>
    </header>
    <div class="tools">
      <div class="btn-group">
      </div>
    </div>
  </div>
 <div class="card-body">
<table class="table" style="font-size:10px;">
<tr>
<td><b>IPv4 Address</b></td>
<td>{{$ctrl.datosterminal.IPv4Address}}</td>
<td><b>IPv6 Address</b></td>
<td>{{$ctrl.datosterminal.IPv6Address}}</td>
<td><b>Associated IPGW </b></td>
<td>{{$ctrl.datosterminal.associatedIPGWName}}</td>
<td><b>Association time </b></td>
<td>{{$ctrl.datosterminal.associationTime}}</td>

</tr>

<tr>
<td><b>Number of available tokens</b></td>
<td>{{$ctrl.datosterminal.availTokens}}</td>
<td><b>Associated beam Id</b></td>
<td>{{$ctrl.datosterminal.beamID}}</td>
<td><b>Geographical location</b></td>
<td>{{$ctrl.datosterminal.beamLocation}}</td>
<td><b>Status of BGP interfaces  </b></td>
<td>{{$ctrl.datosterminal.bgpStatus}}</td>

</tr>

<tr>
<td><b>BGP V4 Status</b></td>
<td>{{$ctrl.datosterminal.bgpV4Status}}</td>
<td><b>BGP V6 Status</b></td>
<td>{{$ctrl.datosterminal.bgpV6Status}}</td>
<td><b>Bytes recived since Association </b></td>
<td>{{$ctrl.datosterminal.bytesRxSinceAssoc}}</td>
<td><b>Bytes transmitted since Association</b></td>
<td>{{$ctrl.datosterminal.bytesTxSinceAssoc}}</td>

</tr>

<!--<tr>
-->
<!--<td><b>configuredIpv4Subnet</b></td>
<td>{{$ctrl.datosterminal.configuredIpv4Subnet}}</td>
<td><b>configuredIpv4SubnetType</b></td>
<td>{{$ctrl.datosterminal.configuredIpv4SubnetType}}</td>
<td><b>configuredIpv6Subnet</b></td>
<td>{{$ctrl.datosterminal.configuredIpv6Subnet}}</td>-->

<!--</tr>-->

<tr>
<td><b>FAP early warning</b></td>
<td>{{$ctrl.datosterminal.cosFapEarlyWarning}}</td>
<td><b>Current Gateway</b></td>
<td>{{$ctrl.datosterminal.currentGateway}}</td>
<td><b>DataCenter ID</b></td>
<td>{{$ctrl.datosterminal.dataCenterID}}</td>
<td><b>Device ID</b></td>
<td>{{$ctrl.datosterminal.deviceID}}</td>

</tr>

<tr>
<td><b>Diagnostic Code</b></td>
<td>{{$ctrl.datosterminal.diagnosticCode}}</td>
<td><b>ESN</b></td>
<td>{{$ctrl.datosterminal.esn}}</td>
<td><b>Cause of FAP early warning </b></td>
<td>{{$ctrl.datosterminal.fapEarlyWarningTrigger}}</td>
<td><b>Current FAP Status</b></td>
<td>{{$ctrl.datosterminal.fapStatus}}</td>

</tr>
<tr>
<td><b>Gateway ID</b></td>
<td>{{$ctrl.datosterminal.gatewayID}}</td>
<td><b>Hardware Type</b></td>
<td>{{$ctrl.datosterminal.hardwareType}}</td>
<td><b>Health Monitor Terminal</b></td>
<td>{{$ctrl.datosterminal.healthMonitorTerminal}}</td>
<td><b>Peak Period</b></td>
<td>{{$ctrl.datosterminal.inPeakPeriod}}</td>

</tr>

<tr>
<td><b>Last Known Outroute Name</b></td>
<td>{{$ctrl.datosterminal.lastKnownOutrouteName}}</td>
<td><b>Last Polled Time</b></td>
<td>{{$ctrl.datosterminal.lastPolledTime}}</td>
<td><b>Last Status ChangeTime</b></td>
<td>{{$ctrl.datosterminal.lastStatusChangeTime}}</td>
<td><b>Latitude</b></td>
<td>{{$ctrl.datosterminal.latitude}}</td>

</tr>

<tr>
<td><b>Longitude</b></td>
<td>{{$ctrl.datosterminal.longitude}}</td>
<td><b>Current throttling stage </b></td>
<td>{{$ctrl.datosterminal.multiStageFAPThrottlingStage}}</td>
<td><b>No Of Cycles Since Polled</b></td>
<td>{{$ctrl.datosterminal.noOfCyclesSincePolled}}</td>
<td><b>OffPeak Overall Capacity</b></td>
<td>{{$ctrl.datosterminal.offPeakOverallCapacity}}</td>

</tr>

<tr>
<td><b>Off Peak Overall Usage</b></td>
<td>{{$ctrl.datosterminal.offPeakOverallUsage}}</td>
<td><b>Outroute Name</b></td>
<td>{{$ctrl.datosterminal.outrouteName}}</td>
<td><b>OveragBytesAnytime</b></td>
<td>{{$ctrl.datosterminal.overagBytesAnytime}}</td>
<td><b>OverageBytesOffPeak</b></td>
<td>{{$ctrl.datosterminal.overageBytesOffPeak}}</td>

</tr>


<tr>
<td><b>Overall Capacity</b></td>
<td>{{$ctrl.datosterminal.overallCapacity}}</td>
<td><b>Overall Usage</b></td>
<td>{{$ctrl.datosterminal.overallUsage}}</td>
<td><b>PEP Backbone status</b></td>
<td>{{$ctrl.datosterminal.pepBBStatus}}</td>
<td><b>Service Activation Identifier</b></td>
<td>{{$ctrl.datosterminal.sai}}</td>

</tr>


<tr>
<td><b>Service Plan</b></td>
<td>{{$ctrl.datosterminal.servicePlan}}</td>
<td><b>Service Provider Id</b></td>
<td>{{$ctrl.datosterminal.serviceProviderId}}</td>
<td><b>Service Provider Name</b></td>
<td>{{$ctrl.datosterminal.serviceProviderName}}</td>
<td><b>State Code</b></td>
<td>{{$ctrl.datosterminal.stateCode}}</td>

</tr>


<tr>
<td><b>State Code Description</b></td>
<td>{{$ctrl.datosterminal.stateCodeDescription}}</td>
<td><b>Static Ipv4 Subnet</b></td>
<td>{{$ctrl.datosterminal.staticIpv4Subnet}}</td>
<td><b>Static Ipv4 SubnetType</b></td>
<td>{{$ctrl.datosterminal.staticIpv4SubnetType}}</td>
<td><b>Static Ipv6 Subnet</b></td>
<td>{{$ctrl.datosterminal.staticIpv6Subnet}}</td>

</tr>


<tr>
<td><b>Terminal Status</b></td>
<td>{{$ctrl.datosterminal.terminalStatus}}</td>
<td><b>Threshold percentage exceeded </b></td>
<td>{{$ctrl.datosterminal.thresholdIndexExceeded}}</td>
<td><b>Transport IPGW Name</b></td>
<td>{{$ctrl.datosterminal.transportIPGWName}}</td>
<td><b>Vlan Id</b></td>
<td>{{$ctrl.datosterminal.vlanId}}</td>

</tr>

<tr>
<td><b>vn Id</b></td>
<td>{{$ctrl.datosterminal.vnId}}</td>
<td><b>vn Name</b></td>
<td>{{$ctrl.datosterminal.vnName}}</td>
<td><b>Security digit </b></td>
<td>{{$ctrl.datosterminal.checkDigit}}</td>
<td><b></b></td>
<td></td>

</tr>


</table>


 </div>



</div>
