<style>
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
     padding: 0px 4px; 
    line-height: 1.846153846 ;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}





</style>














<div class="card" style="margin-top: 10px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Status {{$ctrl.datosterminal.deviceID}} </strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Monitoreo>Beams</small>
    </header>
    <div class="tools">
      <div class="btn-group">
      </div>
    </div>
  </div>
 <div class="card-body">
<table class="table" style="font-size:10px;">
<tr>
<td><b>IPv4Address</b></td>
<td>{{$ctrl.datosterminal.IPv4Address}}</td>
<td><b>IPv6Address</b></td>
<td>{{$ctrl.datosterminal.IPv6Address}}</td>
<td><b>associatedIPGWName</b></td>
<td>{{$ctrl.datosterminal.associatedIPGWName}}</td>
<td><b>associationTime</b></td>
<td>{{$ctrl.datosterminal.associationTime}}</td>

</tr>

<tr>
<td><b>availTokens</b></td>
<td>{{$ctrl.datosterminal.availTokens}}</td>
<td><b>beamID</b></td>
<td>{{$ctrl.datosterminal.beamID}}</td>
<td><b>beamLocation</b></td>
<td>{{$ctrl.datosterminal.beamLocation}}</td>
<td><b>bgpStatus</b></td>
<td>{{$ctrl.datosterminal.bgpStatus}}</td>

</tr>

<tr>
<td><b>bgpV4Status</b></td>
<td>{{$ctrl.datosterminal.bgpV4Status}}</td>
<td><b>bgpV6Status</b></td>
<td>{{$ctrl.datosterminal.bgpV6Status}}</td>
<td><b>bytesRxSinceAssoc</b></td>
<td>{{$ctrl.datosterminal.bytesRxSinceAssoc}}</td>
<td><b>bytesTxSinceAssoc</b></td>
<td>{{$ctrl.datosterminal.bytesTxSinceAssoc}}</td>

</tr>

<tr>
<td><b>checkDigit</b></td>
<td>{{$ctrl.datosterminal.checkDigit}}</td>
<td><b>configuredIpv4Subnet</b></td>
<td>{{$ctrl.datosterminal.configuredIpv4Subnet}}</td>
<td><b>configuredIpv4SubnetType</b></td>
<td>{{$ctrl.datosterminal.configuredIpv4SubnetType}}</td>
<td><b>configuredIpv6Subnet</b></td>
<td>{{$ctrl.datosterminal.configuredIpv6Subnet}}</td>

</tr>

<tr>
<td><b>cosFapEarlyWarning</b></td>
<td>{{$ctrl.datosterminal.cosFapEarlyWarning}}</td>
<td><b>currentGateway</b></td>
<td>{{$ctrl.datosterminal.currentGateway}}</td>
<td><b>dataCenterID</b></td>
<td>{{$ctrl.datosterminal.dataCenterID}}</td>
<td><b>deviceID</b></td>
<td>{{$ctrl.datosterminal.deviceID}}</td>

</tr>

<tr>
<td><b>diagnosticCode</b></td>
<td>{{$ctrl.datosterminal.diagnosticCode}}</td>
<td><b>esn</b></td>
<td>{{$ctrl.datosterminal.esn}}</td>
<td><b>fapEarlyWarningTrigger</b></td>
<td>{{$ctrl.datosterminal.fapEarlyWarningTrigger}}</td>
<td><b>fapStatus</b></td>
<td>{{$ctrl.datosterminal.fapStatus}}</td>

</tr>
<tr>
<td><b>gatewayID</b></td>
<td>{{$ctrl.datosterminal.gatewayID}}</td>
<td><b>hardwareType</b></td>
<td>{{$ctrl.datosterminal.hardwareType}}</td>
<td><b>healthMonitorTerminal</b></td>
<td>{{$ctrl.datosterminal.healthMonitorTerminal}}</td>
<td><b>inPeakPeriod</b></td>
<td>{{$ctrl.datosterminal.inPeakPeriod}}</td>

</tr>

<tr>
<td><b>lastKnownOutrouteName</b></td>
<td>{{$ctrl.datosterminal.lastKnownOutrouteName}}</td>
<td><b>lastPolledTime</b></td>
<td>{{$ctrl.datosterminal.lastPolledTime}}</td>
<td><b>lastStatusChangeTime</b></td>
<td>{{$ctrl.datosterminal.lastStatusChangeTime}}</td>
<td><b>latitude</b></td>
<td>{{$ctrl.datosterminal.latitude}}</td>

</tr>

<tr>
<td><b>longitude</b></td>
<td>{{$ctrl.datosterminal.longitude}}</td>
<td><b>multiStageFAPThrottlingStage</b></td>
<td>{{$ctrl.datosterminal.multiStageFAPThrottlingStage}}</td>
<td><b>noOfCyclesSincePolled</b></td>
<td>{{$ctrl.datosterminal.noOfCyclesSincePolled}}</td>
<td><b>offPeakOverallCapacity</b></td>
<td>{{$ctrl.datosterminal.offPeakOverallCapacity}}</td>

</tr>

<tr>
<td><b>offPeakOverallUsage</b></td>
<td>{{$ctrl.datosterminal.offPeakOverallUsage}}</td>
<td><b>outrouteName</b></td>
<td>{{$ctrl.datosterminal.outrouteName}}</td>
<td><b>overagBytesAnytime</b></td>
<td>{{$ctrl.datosterminal.overagBytesAnytime}}</td>
<td><b>overageBytesOffPeak</b></td>
<td>{{$ctrl.datosterminal.overageBytesOffPeak}}</td>

</tr>


<tr>
<td><b>overallCapacity</b></td>
<td>{{$ctrl.datosterminal.overallCapacity}}</td>
<td><b>overallUsage</b></td>
<td>{{$ctrl.datosterminal.overallUsage}}</td>
<td><b>pepBBStatus</b></td>
<td>{{$ctrl.datosterminal.pepBBStatus}}</td>
<td><b>sai</b></td>
<td>{{$ctrl.datosterminal.sai}}</td>

</tr>


<tr>
<td><b>servicePlan</b></td>
<td>{{$ctrl.datosterminal.servicePlan}}</td>
<td><b>serviceProviderId</b></td>
<td>{{$ctrl.datosterminal.serviceProviderId}}</td>
<td><b>serviceProviderName</b></td>
<td>{{$ctrl.datosterminal.serviceProviderName}}</td>
<td><b>stateCode</b></td>
<td>{{$ctrl.datosterminal.stateCode}}</td>

</tr>


<tr>
<td><b>stateCodeDescription</b></td>
<td>{{$ctrl.datosterminal.stateCodeDescription}}</td>
<td><b>staticIpv4Subnet</b></td>
<td>{{$ctrl.datosterminal.staticIpv4Subnet}}</td>
<td><b>staticIpv4SubnetType</b></td>
<td>{{$ctrl.datosterminal.staticIpv4SubnetType}}</td>
<td><b>staticIpv6Subnet</b></td>
<td>{{$ctrl.datosterminal.staticIpv6Subnet}}</td>

</tr>


<tr>
<td><b>terminalStatus</b></td>
<td>{{$ctrl.datosterminal.terminalStatus}}</td>
<td><b>thresholdIndexExceeded</b></td>
<td>{{$ctrl.datosterminal.thresholdIndexExceeded}}</td>
<td><b>transportIPGWName</b></td>
<td>{{$ctrl.datosterminal.transportIPGWName}}</td>
<td><b>vlanId</b></td>
<td>{{$ctrl.datosterminal.vlanId}}</td>

</tr>

<tr>
<td><b>vnId</b></td>
<td>{{$ctrl.datosterminal.vnId}}</td>
<td><b>vnName</b></td>
<td>{{$ctrl.datosterminal.vnName}}</td>
<td><b></b></td>
<td></td>
<td><b></b></td>
<td></td>

</tr>


</table>


 </div>



</div>
