<style>


  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 8px !important;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}
</style>


<div class="card" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Beams</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Monitoreo>Beams</small>
    </header>
    <div class="tools">
      <div class="btn-group">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-2" style="overflow-y:scroll; max-height: 500px;">
      <ul class="list divider-full-bleed">
        <li class="tile" ng-repeat="x in $ctrl.Beams">
          <a class="tile-content ink-reaction" href="" ng-click="$ctrl.DetalleBeam(x)">
            <p>{{x.Name}}</p>
          </a>
          <a class="btn btn-flat ink-reaction btn-xs" ng-click="$ctrl.DetalleBeam(x)">
            <i class=" md md-my-location"></i>
          </a>
        </li>

      </ul>


    </div>
    <div class="col-md-5">

      <ng-map zoom="11" center="41.875696,-87.624207" style="height: 500px;">
        <marker ng-repeat="pos in $ctrl.Terminales" id="{{pos.san}}" position="{{pos.Lat}}, {{pos.Lng}}"
         on-click="$ctrl.DetalleTerminal($event)" ></marker>
        <kml-layer url="{{$ctrl.UrlBeam}}">
        </kml-layer>
      </ng-map>

    </div>
    <div class="col-md-5">
    <uib-tabset active="active">
    <uib-tab index="0" heading="OUTROUTE">
  <table class="table" style="font-size:10px;">
      <tr>
        <td colspan="3"><b>OUTROUTE VALUES BEAM ID {{$ctrl.datosoutroute.beamId}}</b></td>
      </tr>
      <tr>
        <td><b>Beam Name</b></td>
        <td>{{$ctrl.datosoutroute.beamName}}</td>
         <td><b>Total outroute satellite usage</b> </td>
        <td>{{$ctrl.datosoutroute.satelliteUsage}}</td>
      </tr>      
       <tr>
        <td><b> Maximum outroute Configured(Mbps)</b> </td>
        <td>{{$ctrl.datosoutroute.cbrSubscription}}</td>
         <td><b>Total outroute CBR usage(Mbps)</b></td>
        <td>{{$ctrl.datosoutroute.cbrUsage}}</td>
      </tr>       
      
       <tr>
        <td><b>Gateway Id</b></td>
        <td>{{$ctrl.datosoutroute.gatewayId}}</td>
        <td><b>Gateway Name</b></td>
        <td>{{$ctrl.datosoutroute.gatewayName}}</td>
      </tr>
       <tr>
        <td><b>Maximum outroute bandwidth Configured (Mbps)</b></td>
        <td>{{$ctrl.datosoutroute.maxSubscription}}</td>
        <td><b> Minimumoutroute bandwidth Configured (Mbps)</b></td>
        <td>{{$ctrl.datosoutroute.minSubscription}}</td>
      </tr>

      <tr>
        <td><b>Total offered Multicast load (Mbps)</b></td>
        <td>{{$ctrl.datosoutroute.multicastOfferedLoad}}</td>
        <td><b>Total Multicast outroutesatellite usage (Mbps) </b></td>
        <td>{{$ctrl.datosoutroute.multicastSatelliteBits}}</td>
      </tr>
       <tr>
        <td><b> Maximum Multicast bandwidth Configured</b> </td>
        <td>{{$ctrl.datosoutroute.multicastSubscription}}</td>
        <td><b>Total offered load bandwidth (Mbps)</b></td>
        <td>{{$ctrl.datosoutroute.offeredLoad}}</td>
      </tr>
      <tr>
        <td><b>Total demanded outroute bandwidth(Mbps) </b></td>
        <td>{{$ctrl.datosoutroute.overallDemand}}</td>
        <td><b>Time Stamp</b></td>
        <td>{{$ctrl.datosoutroute.timeStamp}}</td>
      </tr>
      <tr>
        <td><b>vnId</b></td>
        <td>{{$ctrl.datosoutroute.vnId}}</td>
        <td><b>vnName</b></td>
        <td>{{$ctrl.datosoutroute.vnName}}</td>
      </tr>
 <tr>
       
        <td><b>Maximum outroute Download Configured</b></td>
        <td>{{$ctrl.datosoutroute.dlThruSubscription}}</td>
        <td><b>Minimumoutroute Download Configured</b></td>
        <td>{{$ctrl.datosoutroute.dlThruMinSubscription}}</td>
      </tr>
     </table>


    </uib-tab>
    <uib-tab index="1" heading="INROUTE">
        <table class="table" style="font-size:10px;">
      <tr>
        <td colspan="3"><b>INROUTE VALUES BEAM ID {{$ctrl.datosinroute.beamId}}</b></td>
      </tr>
      <tr>
        <td><b>Beam Name</b></td>
        <td>{{$ctrl.datosinroute.beamName}}</td>
         <td><b>Total inroute satellite usage</b></td>
        <td>{{$ctrl.datosinroute.satelliteUsage}}</td>
      </tr>      
       <tr>
        <td><b>Total inroute CBR usage(Mbps)</b></td>
        <td>{{$ctrl.datosinroute.cbrSatUsage}}</td>
         <td><b>Total inroute CBR offered load (Mbps)</b></td>
        <td>{{$ctrl.datosinroute.cbrOfferUsage}}</td>
      </tr>       
       <tr>
        <td><b> Maximum inroute CBR bandwidth Configured(Mbps) </b></td>
        <td>{{$ctrl.datosinroute.cbrSubscription}}</td>
        <td><b>Total demanded inroute bandwidth(Mbps)</b></td>
        <td>{{$ctrl.datosinroute.demand}}</td>
      </tr>
       <tr>
        <td><b>Gateway Id</b></td>
        <td>{{$ctrl.datosinroute.gatewayId}}</td>
        <td><b>Gateway Name</b></td>
        <td>{{$ctrl.datosinroute.gatewayName}}</td>
      </tr>
       <tr>
        <td><b> Maximum inroute bandwidth Configured(Mbps)</b></td>
        <td>{{$ctrl.datosinroute.maxSubscription}}</td>
        <td><b> Maximum inroute bandwidth Configured(Mbps)</b></td>
        <td>{{$ctrl.datosinroute.minSubscription}}</td>
      </tr>

      <tr>
        <td><b>Active Terminals</b></td>
        <td>{{$ctrl.datosinroute.numActiveTerminals}}</td>
        <td>Total inroute offered load bandwidth (Mbps) </b></td>
        <td>{{$ctrl.datosinroute.offeredLoad}}</td>
      </tr>
       <tr>
        <td><b>TimeStamp</b></td>
        <td>{{$ctrl.datosinroute.timeStamp}}</td>
        <td><b> Maximum throughput inroute bandwidth Configured(Mbps) </b></td>
        <td>{{$ctrl.datosinroute.throughputLimit}}</td>
      </tr>
      <tr>
        <td><b> Maximum CBR throughput inroute bandwidth Configured</b></td>
        <td>{{$ctrl.datosinroute.throughputLimitCBR}}</td>
        <td><b> maximum throughput inroute bandwidth Configured </b></td>
        <td>{{$ctrl.datosinroute.throughputLimitMin}}</td>
      </tr>
      <tr>
        <td><b>vnId</b></td>
        <td>{{$ctrl.datosinroute.vnId}}</td>
        <td><b>vnName</b></td>
        <td>{{$ctrl.datosinroute.vnName}}</td>
      </tr>

     </table>
      
    </uib-tab>
 
  </uib-tabset>

   


    </div>
  </div>
