<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title">Terminar Sesión</h4>
</div>
<div class="modal-body" style="padding:40px;">
  <div class="row">
    <div class="col-md-3"><b>FSO:</b>{{ctrl.headers.siteOrder.fso}}</div>
    <div class="col-md-3"><b>SAN:</b>{{ctrl.headers.san}}</div>
    <div class="col-md-3"><b>Tipo de Visita:</b>{{ctrl.headers.siteOrder.visitType}}</div>
    <div class="col-md-3"><b>Id de Sesión:</b>{{ctrl.headers.signOff.signoffId}}</div>
  </div>
  <div class="row">
    <br>
    <p>Favor de indicar los problemas de instalación y las acciones realizadas</p>
    <br>
    <div class="col-md-4 ">
      <center><b>Instalación</b></center><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">

        <input type="checkbox" ng-model="ctrl.sight"><span>Línea de visión</span>
      </label><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.dish"><span>Reemplazar plato de antena</span>
      </label><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.repaired"><span>Reparación/Reemplazar Cable/Conector/Bloqueo de Tierra/Clima</span>
      </label><br><br>
      <center><b>Sin problemas de instalación</b></center>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.noinstallation"><span>Sin problemas de instalación</span>
      </label>

    </div>
    <div class="col-md-4">
      <center><b>Hardware</b></center>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" value="option3" ng-model="ctrl.feedhorn"><span>Reemplazo/Reparación de polarizador de alimentación</span>
      </label><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.radio"><span>Radio defectuosa siendo devuelta de reparación</span>
      </label><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.modem"><span>Modem defectuoso devuelto desde reparación</span>
      </label><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.power"><span>Reemplazo de fuente de alimentación</span>
      </label><br>


    </div>
    <div class="col-md-4">
      <center><b>Software</b></center>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.modemsoftware">
        <span>Modem software Installation/proccesing problem</span>
      </label><br>
      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.NOCC" ng-checked="false"><span>NOCC/Tier 3 Corrected Network
          Problem</span>
      </label><br>
      <center><b>Customer related</b></center>

      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.customerRefused" ng-checked="false"><span>Customer refused install</span>
      </label><br>

      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.customersoft" ng-checked="false"><span>Equipo del cliente/Software/Problemas de router</span>
      </label><br>
      <center><b>Otro</b></center>

      <label class="checkbox-inline checkbox-styled checkbox-success">
        <input type="checkbox" ng-model="ctrl.other" ng-checked="false"><span>Otro</span>
      </label><br>


    </div>
  </div>
  <div class="row">
    <p>Provee los detalles de instalación...
    </p>
    <textarea class="form-control" ng-model="ctrl.DetailProblem"></textarea>
    <br>
  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-sm" ng-click="ctrl.SingOff();">Cerrar Sesión</button>
  <button class="btn btn-default-bright btn-sm" type="button" ng-click="ctrl.cancel()">Cerrar</button>
</div>