<style>
  .font-reduced {
    font-size: 13px;
  }
  
  .table>tfoot>tr>td {
    padding: 5px !important;
  }
</style>

<div class="card" style="margin-top:20px;" ng-show="$ctrl.OVT1">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Onsite Validation Tool</strong>
          <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Monitoreo</a></small>
  
        </header>
        <div class="tools">
  
         
  
        </div>
      </div>
 

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding: 20px;">
        <b>SAN </b><br><br>
        <input type="text" class="form-control" placeholder=" " ng-model="$ctrl.SAN">
        <BR>
        <button class="btn btn-block btn-primary" ng-click="$ctrl.validate()">Validar</button>

</div>
<div class="col-md-3"></div>

    </div>

  </div>

  <div class="card">
    <div class="card-body">

      <div class="row text-center">
        <h5 style="color: #0aa89e;">Paso 1: Verifica la información de FSO y del sitio> </h5>
      </div>
      <div class="row text-center">
        <button type="button" class="btn btn-sm btn-default" name="button" ng-click="$ctrl.getRefresh()"><i
            class="fa fa-refesh"></i>
          Actualizar Información</button>
        <button type="button" class="btn btn-sm btn-default-dark" name="button" ng-click="$ctrl.getPing()"><i
            class="fa fa-terminal"></i>
          Ping Terminal</button>
      </div>

      <div class="table-responsive">
        <table class="table no-margin">
          <tbody>
            <tr>
              <td><b style="font-size: smaller;">FSO:</b></td>
              <td>
                <p>{{$ctrl.Details.siteOrder.fso}}</p>
              </td>
              <td><b style="font-size: smaller;">SAN:</p>
              </td>
              <td>
                <p>{{$ctrl.Details.san}}</p>
              </td>
              <td><b style="font-size: smaller;">Latitud:</b></td>
              <td>
                <p>{{$ctrl.Details.terminal.location.latitudeDMS}}</p>
              </td>
              <td><b style="font-size: smaller;">Repl IDU ESN:</b></td>
              <td>
                <p>{{$ctrl.Details.siteOrder.replIDUESN}}</p>
              </td>
            </tr>
            <tr>
              <td><b style="font-size: smaller;">Tipo de Visita:</b></td>
              <td>
                <p>{{$ctrl.Details.siteOrder.visitType}}
              </td>
              <td> <b style="font-size: smaller;">Número de Serie:</b></td>
              <td>
                <p>{{$ctrl.Details.terminal.esn}}</p>
              </td>
              <td><b style="font-size: smaller;">Longitud:</b></td>
              <td>
                <p>{{$ctrl.Details.terminal.location.longitudeDMS}}</p>
              </td>
              <td>
                <p><b style="font-size: smaller;">Repl ODU ESN:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.siteOrder.replODUESN}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p><b style="font-size: smaller;">Tipo de Adaptador:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.terminal.adapterType}}</p>
              </td>
              <td>
                <p><b style="font-size: smaller;">Grupo UL/DL:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.terminal.location.longitudeDMS}}</p>
              </td>
              <td>
                <p><b style="font-size: smaller;">Número de Parte de Antena:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.outdoorUnit.antenna.partNumber}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p><b style="font-size: smaller;">Gateway Id:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.terminal.gatewayId}}</p>
              </td>
              <td>
                <p><b style="font-size: smaller;">Beam Id:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.terminal.beamId}}</p>
              </td>
              <td>
                <p><b style="font-size: smaller;">Tipo de Compañía:</b></p>
              </td>
              <td>
                <p>{{$ctrl.Details.company}}</p>
              </td>
            </tr>

          <tbody>

        </table>
      </div>


    </div>

  </div>

  <div class="row text-center">
    <div class="col-md-6 form-group">
      <div class="col-md-12">
        <h5 style="color: #0aa89e;">Elige el tamaño de antena a instalar</h5>
      </div>

      <div class="col-md-12">
        <div class="col-md-12" ng-repeat="x in $ctrl.antennas">
          <label class="checkbox-inline checkbox-styled">
            <input type="radio" ng-value="x.size" ng-model="$ctrl.antenna"><span>{{ x.description }}</span>
          </label>
        </div>

        <!-- <div class="col-md-12 text-right" ng-repeat="x in $ctrl.antennas">
          <input type="radio" name="ant" ng-value="x.size" ng-model="$ctrl.antenna">{{x.description}}
        </div> -->

      </div>

    </div>
    <div class="col-md-6  form-group">
      <div class="col-md-12">
        <h5 style="color: #0aa89e;">Elige el lugar de instalación</h5>
      </div>

      <div class="col-md-6 col-md-offset-3 text-left" ng-repeat="x in $ctrl.mounts">
        <label class="checkbox-inline checkbox-styled">
          <input type="radio" ng-value="x.code + $index" ng-model="$ctrl.mount"><span>{{ x.description }}</span>
        </label>
      </div>
    </div>
  </div>


  <hr>
  <div class="row text-center">
    <button type="button" class="btn btn-danger  " ng-click="$ctrl.Procced();" name="button">Continuar</button>
  </div>
  <br>


</div>
</div>






<div class="card" style="margin-top:10px;" ng-show="$ctrl.OVT2">
  <div class="card-head card-head-xs style-info">
    <header>On-Site Validation Tool</header>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 card">
        <div class="card-body" style="margin-left:25px;margin-right:25px;">
          <table class="table">
            <tbody>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">SAN</small></b></td>
                <td style="padding: 0px !important;"><small class="font-reduced">{{$ctrl.DetailsOVT2.san}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Tipo de Visita</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.siteOrder.visitType}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Atenuación de Uplink</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.beamValues.ulAttenuation}}</small></td>
              </tr>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Tipo de Adaptador</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.adapterType}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">FSO</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.siteOrder.fso}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Atenuación de Downlink</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.beamValues.dlAttenuation}}</small></td>
              </tr>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Gateway ID</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.gatewayId}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Atenuación Uplink de Compensación</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.beamValues.ulAttenuationOffset}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Última Fecha de Procesamiento de Datos</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.processedDate}}</small></td>
              </tr>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Beam ID</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.beamId}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Atenuación Downlink de Compensación</small></b></td>
                <td style="padding:0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.beamValues.dlAttenuationOffset}}</small></td>
              </tr>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Latitud</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.location.qlat}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Temperatura de Modem</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.modemTemp}}</small></td>
                
              </tr>

              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Longitud</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.location.qlng}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Conteo de Reboot</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.rebootCount}}</small></td>
              </tr>

              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Grupo Uplink/Downlink</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.diagnosticData.ULDL_Group}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Fecha de Último Reboot</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.rebootTime}}</small></td>
              </tr>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Tamaño de Antena</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.outdoorUnit.antenna.size}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Motivo de Último Reboot</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.rebootReason.description}}</small></td>
              </tr>
              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Poder de Radio (W)</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.outdoorUnit.radio.power}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Versión de Software</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.softwareVersion}}</small></td>
              </tr>

              <tr>
                <td style="padding: 2px !important;"><b><small class="font-reduced">Polarización</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.polarization}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Número de Serie IDU</small></b></td>
                <td style="padding: 0px !important;"><small class="font-reduced">{{ $ctrl.diagnosticData.ESN }}</small>
                </td>
              </tr>

              <tr>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Fecha Activación</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.diagnosticData.Activation_Date}}</small></td>
                <td style="padding: 0px !important;"><b><small class="font-reduced">Número de Serie ODU</small></b></td>
                <td style="padding: 0px !important;"><small
                    class="font-reduced">{{$ctrl.DetailsOVT2.terminal.odusn}}</small></td>
              </tr>


            </tbody>


          </table>

        </div>
        <div class="row" style="margin-left:25px;margin-right:25px;">
          <button class="btn btn-info btn-default-bright btn-sm" ng-click="$ctrl.GetCurrentStats();">Obtener las Estadísticas Actuales</button>
          <button class="btn btn-info btn-default-bright btn-sm" ng-click="$ctrl.ForceRange()">FORCE RANGE</button>
          <button class="btn btn-primary btn-default-bright btn-sm" ng-click="$ctrl.ClearTerminal();">Limpiar Estadísticas de la Terminal</button>
          <button class="btn btn-primary btn-default-bright btn-sm" ng-click="$ctrl.ReloadTables();">Recargar Tablas</button>
          <button class="btn btn-primary btn-default-bright btn-sm" ng-click="$ctrl.ForceFallBack();">Force Fallback</button>
          <button class="btn btn-warningbtn-default-bright btn-sm" ng-click="$ctrl.Reboot();">Reboot</button>
          <button class="btn btn-danger btn-default-bright btn-sm" ng-click="$ctrl.abrirSignOff();">Terminar Sesión</button>

          <table class="table">
            <thead>
              <th></th>
              <th>Fecha</th>
              <th>Uplink Operacional Es/No</th>
              <th>Margen Uplink</th>
              <th>Symbol Rate-FEC</th>
              <th>UL Es/No Avail</th>
              <th>DL Es/No</th>
              <th>MODCOD</th>
              <th>Pérdida de Paquetes (%)</th>
              <th>Desviación Uplink</th>
              <th>Desviación Downlink</th>
            </thead>

            <tbody>
              <tr>
                <td>Valores deseados</td>
                <td>0</td>
                <!-- {{$ctrl.DetailsOVT2.terminal.odusn}} -->
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{$ctrl.DetailsOVT2.targetValues.ulEsNoAvail}}</td>
                <td>{{$ctrl.DetailsOVT2.targetValues.dlEsNo}}</td>
                <td>{{$ctrl.DetailsOVT2.targetValues.modcod}}</td>
                <td>{{$ctrl.DetailsOVT2.targetValues.pktLossPct}}</td>
                <td>{{$ctrl.DetailsOVT2.targetValues.ulDev}}</td>
                <td>{{$ctrl.DetailsOVT2.targetValues.dlDev}}</td>


              </tr>
              <tr>
                <td>Valores Actuales</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.timestamp}}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.ulEsNoAvail}}</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.dlEsNo}}</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.modcod}}</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.pktLossPct}}</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.ulDev}}</td>
                <td>{{$ctrl.DetailsOVT2.currentValues.dlDev}}</td>
              </tr>

              <tr>
                <td>Diferencia</td>

                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{$ctrl.DetailsOVT2.differenceValues.ulEsNoAvail}}</td>
                <td>{{$ctrl.DetailsOVT2.differenceValues.dlEsNo}}</td>
                <td>{{$ctrl.DetailsOVT2.differenceValues.modcod}}</td>
                <td>{{$ctrl.DetailsOVT2.differenceValues.pktLossPct}}</td>
                <td>{{$ctrl.DetailsOVT2.differenceValues.ulDev}}</td>
                <td>{{$ctrl.DetailsOVT2.differenceValues.dlDev}}</td>


              </tr>

            </tbody>

          </table>


        </div>
        <div class="row" style="margin-left:25px;margin-right:25px;margin-bottom: 10px;">
          Diagnóstico: {{$ctrl.DetailsOVT2.diagnosis.recommendedDiagnosis.name}} <br> Acción Recomendada:
          <input type="text" class="form-control" ng-model="$ctrl.RecomendedDiag">
          <button class="btn btn-success btn-xs" ng-click="$ctrl.CompleteAction();">Acción Completada</button>
        </div>
      </div>
      <div class="col-md-12 card" ui-if="$ctrl.showmapa">
        <ng-map zoom="9" style="height:100%; width:100%;">
          <marker icon="{{$ctrl.customIcon}}" position="{{$ctrl.points.latitude}}, {{$ctrl.points.longitude}}"></marker>
        </ng-map>
      </div>

    </div>



  </div>



</div>