<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()" >×</button>
  <h4  class="modal-title"><i class="fa fa-thumb-tack"></i>{{$ctrl.Titulo}} </h4>
  
</div>
<div class="modal-body" style="font-size: 11px;">

<h4>{{$ctrl.Pregunta}}</h4>

<div class="modal-footer">  
    <button class="btn btn-default-bright btn-sm" type="button" ng-click="$ctrl.cancel()">{{$ctrl.btncancel}}</button>
  <button class="btn btn-info btn-sm" type="button" ng-click="$ctrl.ok()">{{$ctrl.btnok}}</button>

</div>
