<style>
    body{
        background-color: #7DBEF3;
    }
</style>
<div class="container">
  <form class="form-signin">
    <div class="panel periodic-login">
      <div class="panel-body text-center">
          <p class="atomic-mass" style="font-size:36px;">SOFTV</p>

        <i class="icons icon-arrow-down"></i>
        <div class="form-group form-animate-text" style="margin-top:40px !important;">
          <input type="text" class="form-text" required>
          <span class="bar"></span>
          <label>Username</label>
        </div>
        <div class="form-group form-animate-text" style="margin-top:40px !important;">
          <input type="password" class="form-text" required>
          <span class="bar"></span>
          <label>Password</label>
        </div>
        <label class="pull-left">
            <input type="checkbox" class="icheck pull-left" name="checkbox1"/> Remember me
            </label>
        <input type="submit" ui-sref="home" class="btn col-md-12" value="SignIn" />
      </div>
      <div class="text-center" style="padding:5px;">
        <a href="forgotpass.html">Forgot Password </a>
        <a href="reg.html">| Signup</a>
      </div>
    </div>
  </form>

</div>
